﻿<form method="POST">
    <div>
        <label>Courriel :</label>
        <input type="email" name="email" />
    </div>

    <div>
        <label>Mot de passe : </label>
        <input type="password" name="password" />
    </div>

    <input type="Soumettre" />
</form>

<div asp-validation-summary="All"></div>

