﻿@model SpekSkates.Admin.Web.Modules.Product.ViewModels.ViewModelSuppression;

@{
    ViewData["Title"] = "Delete";
}

<h2>Suppression</h2>

<h3>Êtes vous sur de vouloir supprimer ce produit?</h3>
<div>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Product.Name)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Product.Name)
        </dd>
    </dl>
    @if (Model.listPackage != null && Model.listPackage.Count > 0)
    {
    <p>La suppression de ce produit entraînera aussi la suppression de ces packages: </p>
    <table class="table">
        <tbody>
            @foreach (var item in Model.listPackage)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.Name)
                    </td>
                </tr>
            }
              </tbody>
            
    </table>
    }

    <br />

    @if (Model.listHomepageNames != null && Model.listHomepageNames.Count > 0)
    {
        <p>La suppression de ce produit entraînera aussi son retrait de la section "Produits vedettes" des pages d'accueil suivantes: </p>
        <table class="table">
            <tbody>
                @foreach (var item in Model.listHomepageNames)
                {
                    <tr>
                        <td>
                            @Html.DisplayFor(modelItem => item)
                        </td>
                    </tr>
                }
            </tbody>

        </table>
    }

    <a asp-action="DeleteItem" asp-route-id="@Model.Product.Id">Supprimer</a>
    <br />
    <a asp-action="Index">Retour à l'Index</a>
</div>
