﻿@model SpekSkates.Admin.Web.Modules.Product.ViewModelDetail

@{
    ViewData["Title"] = "Edit";
}

<h2>Modifier</h2>

<h4>Produit</h4>
<hr />
<div class="row">
    <div class="col-md-12">

        <form asp-action="Edit" enctype="multipart/form-data">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="Product.Id" />
            <input type="hidden" asp-for="Product.isActive" />
            <input type="hidden" asp-for="Product.isDelete" />
            <input type="hidden" asp-for="Product.ImagePath" />

            <div>
                <div class="col-md-12">
                    <label asp-for="Product.Name" class="control-label"></label>
                    <input asp-for="Product.Name" class="form-control required" />
                    <span asp-validation-for="Product.Name" class="text-danger"></span>
                    <p><span class="text-danger">@Model.ErrorMessageNom</span></p>
                </div>

                <div class="col-md-12">
                    <label asp-for="Product.Price" class="control-label"></label>
                    <input asp-for="Product.Price" id="price" onkeyup="check(this.value, 'pricevalidate')" class="form-control required number" />
                    <span id="pricevalidate" class="text-danger"></span>
                </div>

                <div class="col-md-12">
                    <label asp-for="Product.codeProduit" class="control-label"></label>
                    <input asp-for="Product.codeProduit" class="form-control required" />
                    <span asp-validation-for="Product.codeProduit" class="text-danger"></span>
                </div>

                <div class="col-md-12">
                    <label asp-for="Product.isEnPromotion" class="control-label"></label>
                    <input asp-for="Product.isEnPromotion" />
                    <span asp-validation-for="Product.isEnPromotion" class="text-danger"></span>
                </div>
                <div class="col-md-12">
                    <label asp-for="Product.promotionPrice" class="control-label"></label>
                    <input asp-for="Product.promotionPrice" id="promoPrice" onkeyup="check(this.value, 'promoprice')" class="form-control required number" />
                    <span id="promoprice" class="text-danger"></span>
                </div>
                <div class="col-md-12">
                    <label asp-for="Product.isNonDisponible" class="control-label"></label>
                    <input asp-for="Product.isNonDisponible" />
                    <span asp-validation-for="Product.isNonDisponible" class="text-danger"></span>
                </div>

                    <div class="col-md-12">
                        <label asp-for="Product.ProductCategoryId" class="control-label"></label>
                        <select asp-for="Product.ProductCategoryId" id="SelectCategoryId" class="form-control required">

                        @foreach (var option in Model.CategorySelectList)
                        {


                            <option selectedOption data-board="@option.Board" value="@option.Value">@option.Text</option>
                        }
                    </select>
                </div>

                    @* Trier selon la catégorie choisie !!!! *@
                    <div class="col-md-12">
                        <label asp-for="SizeSelectId" class="control-label"></label>
                            <select id="SelectSizeId" asp-for="SizeSelectId" class="form-control">
                                <option data-default="novalue" value="">Entrer une taille</option>
                                @foreach (var option in Model.SizeSelectList)
                                {
                                    <option class="" data-category="@option.CategoryId" value="@option.Value">@option.Text</option>
                                }
                            </select>
                            @if (!string.IsNullOrEmpty(Model.ErrorMessageSize))
                            {
                                <span class="text-danger">@Model.ErrorMessageSize</span>

                    }
                </div>

                    <div class="col-md-12">
                        <label asp-for="ShapeSelectId" class="control-label"></label>

                            <select id="SelectShapeId" asp-for="ShapeSelectId" class="form-control">
                                <option data-default="novalue" value="">Entrer une forme</option>
                                @foreach (var option in Model.ShapeSelectList)
                                {
                                    <option class="" data-category="@option.CategoryId" value="@option.Value">@option.Text</option>
                                }
                            </select>
                            @if (!string.IsNullOrEmpty(Model.ErrorMessageShape))
                            {
                                <span class="text-danger">@Model.ErrorMessageShape</span>

                    }
                </div>

                    <div id="IsPlanche" class="hide-board-option">
                        <div class="col-md-12">
                            <label asp-for="BoardSelectId" class="control-label"></label>

                            <select asp-for="BoardSelectId" asp-items="Model.BoardStyleSelectList" class="form-control">
                                <option value="">Veuillez choisir une style de planche</option>
                            </select>
                            @if (!string.IsNullOrEmpty(Model.ErrorMessageBoard))
                            {
                                <span class="text-danger">@Model.ErrorMessageBoard</span>

                        }
                    </div>

                    <div class="col-md-12">
                        <label asp-for="Product.isKicktail" class="control-label"></label>
                        <input type="checkbox" asp-for="Product.isKicktail" />
                        <span asp-validation-for="Product.isKicktail" class="text-danger"></span>
                    </div>
                </div>


                <div class="col-md-12">
                    <label asp-for="Product.History" class="control-label"></label>
                    <input asp-for="Product.History" class="form-control required" />
                    <span asp-validation-for="Product.History" class="text-danger"></span>
                </div>

                <div class="col-md-12">
                    <label asp-for="Product.Description" class="control-label"></label>
                    <input asp-for="Product.Description" class="form-control required" />
                    <span asp-validation-for="Product.Description" class="text-danger"></span>
                </div>


                <div class="col-md-12">
                    <label asp-for="File" class="control-label"></label>

                    <input asp-for="File" type="file" name="file" accept="image/*"/>
                    @if (!string.IsNullOrEmpty(Model.Product.ImagePath))
                    {
                        <img src="@Model.Product.ImagePath" height="250px" width="250px"/>

                        <a asp-action="Deleteblob"
                           asp-route-blobName="@Model.Product.ImagePath" asp-route-id="@Model.Product.Id">
                            Supprimer
                        </a>
                    }

                </div>

                <div class="form-group col-md-12">
                    <input type="submit" value="Enregistrer" class="btn btn-default" />
                </div>
            </div>
        </form>
    </div>





</div>

<div class="col-md-12">
    <a asp-action="Index">Retour à la liste</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
    <script>
        var form = $("#example-form");
        form.validate({
            errorPlacement: function errorPlacement(error, element) { element.before(error); },
            rules: {
                confirm: {
                    equalTo: "#password"
                }
            }
        });
        form.children("div").steps({
            headerTag: "h3",
            bodyTag: "section",
            transitionEffect: "slideLeft",
            onStepChanging: function (event, currentIndex, newIndex) {
                form.validate().settings.ignore = ":disabled,:hidden";
                return form.valid();
            },
            onFinishing: function (event, currentIndex) {
                form.validate().settings.ignore = ":disabled";
                return form.submit();
            }
        });

        $.extend($.validator.messages, {
            required: "Champs requis"

        });

        $('.number').keyup(function (e) {
            var code = e.which ? e.which : e.keyCode;
            if (code === 188) {
                var input = this.value;
                input = input.substr(0, input.length - 1);
                input += '.';
                this.value = input;
            }
        });

        $('#promoPrice').change(function () {
            checkPromoPriceIsUnderPrice()
        });
        $('#price').change(function () {
            checkPromoPriceIsUnderPrice()
        });


        function checkPromoPriceIsUnderPrice() {
            var re = /^(\d{0,5}\.\d{0,2}|\d{0,5}|\.\d{0,2})$/;

            if (re.test($('#promoPrice').val()) && re.test($('#price').val()) && $('#promoPrice').val() != '.' && $('#price').val() != '.')
            {
                if ($('#promoPrice').val() > $('#price').val()) {
                    $('#promoPrice').val($('#price').val());
                }
            }

        }

        function check(v, id) {
            var re = /^(\d{0,5}\.\d{0,2}|\d{0,5}|\.\d{0,2})$/;
            if (v.length == 0 || !re.test(v) || v == '.') {
                document.getElementById(id).innerHTML = "Vous devez entrer un nombre valide. ex: 12.99";

            } else {

                document.getElementById(id).innerHTML = "";
            }

        }
    </script>
}
