﻿@model IEnumerable<SpekSkates.Admin.Web.Modules.Product.Product>
@{
    ViewData["Title"] = "Index";
}
<h2>Produits</h2>
<p>
    <a asp-action="Create">Ajouter un produit</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Name)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Name)
                </td>
                <td>
                    <a asp-action="Edit" asp-route-id="@item.Id">Modifier</a>
                </td>

                <td>
                    @if (item.isActive) {
                        <a asp-action="UnActive" asp-route-id="@item.Id">Désactiver</a>
                        }
                        else
                        {
                        <a asp-action="Active" asp-route-id="@item.Id">Activer</a>
                        }
                    </td>

                    <td>

                        <a asp-action="DeletePage" asp-route-id="@item.Id">Supprimer</a>


                    </td>
                </tr>
        }
    </tbody>
</table>
