﻿@using SpekSkates.Admin.Web.Modules.History
@model SpekSkates.Admin.Web.Modules.History.ViewModels.ViewModelDetail

@{
    ViewData["Title"] = "Créer";
}

<h2>Créer</h2>

<h4>Page histoire</h4>
<hr />
<div class="row">
    <div class="col-md-6">
        <form asp-action="Edit" enctype="multipart/form-data">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="History.Id" />
            <input type="hidden" asp-for="History.isActive" />
            <input type="hidden" asp-for="History.isDelete" />
            <input type="hidden" asp-for="History.isDefault" />
            <input type="hidden" asp-for="History.Picture1Path" />
            <input type="hidden" asp-for="History.Picture2Path" />
            <input type="hidden" asp-for="History.Picture3Path" />

            <div class="form-group">


                <div class="col-md-12">

                    <label asp-for="History.Name" class="control-label"></label>
                    <input asp-for="History.Name" class="form-control" />
                    <span asp-validation-for="History.Name" class="text-danger"></span>

                </div>



                <div class="col-md-12">
                    <label asp-for="History.Text" class="control-label"></label>
                    <textarea asp-for="History.Text"></textarea>
                    <span asp-validation-for="History.Text" class="text-danger"></span>

                </div>


                <div class="col-md-12">
                    <label asp-for="Picture1" class="control-label"></label>
                    <input id="Picture1" asp-for="Picture1" type="file" name="Picture1" accept="image/*" />
                    @if (!string.IsNullOrEmpty(Model.History.Picture1Path))
                    {
                        <img src="@Model.History.Picture1Path" height="250px" width="550px" />

                        <a asp-action="Delete"
                           asp-route-blobName="@Model.History.Picture1Path" asp-route-id="@Model.History.Id" asp-route-identifiant="about">
                            Supprimer
                        </a>
                    }

                </div>
                <div class="col-md-12">
                    <label asp-for="Picture2" class="control-label"></label>
                    <input id="Picture2" asp-for="Picture2" type="file" name="Picture2" accept="image/*" />
                    @if (!string.IsNullOrEmpty(Model.History.Picture2Path))
                    {
                        <img src="@Model.History.Picture2Path" height="250px" width="550px" />

                        <a asp-action="Delete"
                           asp-route-blobName="@Model.History.Picture2Path" asp-route-id="@Model.History.Id" asp-route-identifiant="about">
                            Supprimer
                        </a>
                    }

                </div>

                <div class="col-md-12">
                    <label asp-for="Picture3" class="control-label"></label>
                    <input id="Picture3" asp-for="Picture3" type="file" name="Picture3" accept="image/*" />
                    @if (!string.IsNullOrEmpty(Model.History.Picture3Path))
                    {
                        <img src="@Model.History.Picture3Path" height="250px" width="550px" />

                        <a asp-action="Delete"
                           asp-route-blobName="@Model.History.Picture3Path" asp-route-id="@Model.History.Id" asp-route-identifiant="about">
                            Supprimer
                        </a>
                    }

                </div>



            </div>
            <div class="form-group col-md-12">
                <input type="submit" value="Enregistrer" class="btn btn-default" />
            </div>
        </form>
    </div>





</div>
</br>
<div class="col-md-12">
    <a asp-action="Index">Retour à la liste</a>
</div>


@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
