﻿@using SpekSkates.Admin.Web.Modules.History
@model SpekSkates.Admin.Web.Modules.History.ViewModels.ViewModelEvent

@{
    ViewData["Title"] = "Créer";
}

<h2>Créer évènement</h2>

<h4>Évènement</h4>
<hr />
<div class="row">
    <div class="col-md-12">
        <form asp-action="CreateEvent" enctype="multipart/form-data">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="EventHistory.Id" />
            <input type="hidden" asp-for="EventHistory.HistoryId" />


            <div class="form-group">




                <div class="col-md-12">

                    <label asp-for="EventHistory.Date" class="control-label"></label>
                    <input asp-for="EventHistory.Date" class="form-control" />
                    <span asp-validation-for="EventHistory.Date" class="text-danger"></span>

                </div>

                <div class="col-md-12">
                    <label asp-for="EventHistory.Text" class="control-label"></label>
                    <textarea asp-for="EventHistory.Text"></textarea>
                    <span asp-validation-for="EventHistory.Text" class="text-danger"></span>

                </div>

                <div class="col-md-12">
                    <label asp-for="EventHistory.dateTime" class="control-label"></label>
                    <input asp-for="EventHistory.dateTime" value="<% DateTime.Today %>"/>
                    <span asp-validation-for="EventHistory.dateTime" class="text-danger"></span>

                </div>

            </div>
            <div class="form-group col-md-12">
                <input type="submit" value="Enregistrer" class="btn btn-default" />
            </div>
        </form>
    </div>





</div>

<div>
    <a asp-action="Index">Retour à la liste</a>
</div>


@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
