﻿@model IEnumerable<SpekSkates.Admin.Web.Modules.History.History>
@{
    ViewData["Title"] = "Index";
}
<h2>Histoire</h2>
<a asp-action="Create">Ajouter une page de type «Histoire»</a>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Name)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Name)
                </td>
                <td>
                    <a asp-action="Edit" asp-route-id="@item.Id">Modifier</a>

                </td>
                <td>
                    @if (item.isDefault)
                    {
                        <p>Page par défaut</p>
                    }
                    else
                    {
                        <a asp-action="Default" asp-route-id="@item.Id">Mettre cette page par défaut</a>
                    }

                </td>
                <td>
                    @if (!item.isDefault)
                    {
                        @if (item.isActive)
                    {
                            <a asp-action="UnActive" asp-route-id="@item.Id">Désactiver</a>
                        }
                        else
                        {
                            <a asp-action="Active" asp-route-id="@item.Id">Activer</a>
                        }
                    }
                </td>

                <td>
                    @if (!item.isDefault)
                    {
                        <a asp-action="DeletePage" asp-route-id="@item.Id">Supprimer</a>
                    }

                </td>
            </tr>
        }
    </tbody>
</table>
