﻿@model SpekSkates.Admin.Web.Modules.Contact.Contact

@{
    ViewData["Title"] = "Delete";
}

<h2>Supression</h2>

<h3>Êtes vous sur de vouloir supprimer cette page?</h3>
<div>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Name)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Name)
        </dd>
    </dl>
    
    <a asp-action="DeleteItem" asp-route-id="@Model.Id">Supprimer</a>
    <br />
    <a asp-action="Index">Retour à l'Index</a>
</div>
