﻿@model SpekSkates.Admin.Web.Modules.Contact.Contact

@{
    ViewData["Title"] = "View";
}

<h2>Modifier</h2>

<h4>Nous joindre</h4>
<hr />
<div class="row">
    <div class="col-md-6">
        <form asp-action="Edit">
            <input type="hidden" asp-for="isActive" />
            <input type="hidden" asp-for="isDelete" />
            <input type="hidden" asp-for="isDefault" />
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="col-md-12">
                <label asp-for="Name" class="control-label"></label>
                <input asp-for="Name" class="form-control" />
                <span asp-validation-for="Name" class="text-danger"></span>
            </div>
             <div class="col-md-12">
                <label asp-for="Content" class="control-label"></label>
                 <br />
                 <textarea asp-for="Content"></textarea>
                <span asp-validation-for="Content" class="text-danger"></span>
            </div>
            <input type="hidden" asp-for="Id" />
            <div class="col-md-12">
                <input type="submit" value="Enregistrer" class="btn btn-default" />
            </div>
        </form>
    </div>
</div>
</br>
<div class="col-md-12">
    <a asp-action="Index">Retour à la liste</a>
</div>

