﻿@model SpekSkates.Admin.Web.Modules.BoardStyle.ViewModels.ViewModel

@{
    ViewData["Title"] = "Create";
}

<h2>Ajouter</h2>

<h4>Style de planche</h4>
<hr />
<div class="row">
    <div class="col-md-6">
        <p>@Model.ErrorMessage</p>
        <form asp-action="Create" enctype="multipart/form-data">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="BoardStyle.Id" />
            <div class="form-group">
                <div class="col-md-12">
                    <label asp-for="BoardStyle.Name" class="control-label"></label>
                    <input asp-for="BoardStyle.Name" class="form-control" />
                    <span asp-validation-for="BoardStyle.Name" class="text-danger"></span>
                </div>

                <div class="col-md-12">
                    <label asp-for="File">Image du style (Taille suggérée : 200px x 600px) :</label>
                    <input asp-for="File" type="file" name="file" accept="image/*"/>
                    @if (!string.IsNullOrEmpty(Model.BoardStyle.ImagePath))
                    {
                        <img src="@Model.BoardStyle.ImagePath" height="100px" width="300px"/>

                        <a asp-action="Delete"
                           asp-route-blobName="@Model.BoardStyle.ImagePath" asp-route-id="@Model.BoardStyle.Id">
                            Supprimer
                        </a>
                    }

                </div>
            </div>


            <div class="form-group col-md-12">
                <input type="submit" value="Ajouter" class="btn btn-default" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Retour à la liste</a>
</div>


@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}