﻿@model SpekSkates.Admin.Web.Modules.BoardStyle.ViewModels.ViewModelSupress
@{
    ViewData["Title"] = "Delete";
}
<h2>Supprimer</h2>
<h3>Êtes-vous certain de vouloir supprimer ce style?</h3>
<div>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.BoardStyle.Name)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.BoardStyle.Name)
        </dd>
    </dl>
    @if (Model.CanBeDeleted)
    {
        <form asp-action="Delete">
            <input type="hidden" asp-for="BoardStyle.Id" />
            <input type="submit" value="Supprimer" class="btn btn-default" /> |
        </form>
    }
    else
    {
        <div class="alert alert-danger">
            <strong>Attention!</strong><p> Ce style ne peut pas être supprimé puisqu'il est associé au produits suivant:</p>

                @foreach (var product in Model.Products)
                {
                    <a href="/Product/Edit/@product.Id"><p>@product.Name</p></a>
                }
        </div>

    }
    <a asp-action="Index">Retour à la liste</a>
</div>