﻿@model SpekSkates.Admin.Web.Modules.ProductCategory.ViewModels.ViewModelSupression

@{
    ViewData["Title"] = "Delete";
}

<h2>Supprimer</h2>

<h3>Êtes-vous certain de vouloir supprimer cette catégorie?</h3>
<div>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.ProductCategory.Name)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.ProductCategory.Name)
        </dd>
    </dl>
    
    <form asp-action="Delete">
        <input type="hidden" asp-for="ProductCategory.Id" />
        <input type="hidden" asp-for="ProductCategory.Name" />
        <input type="hidden" asp-for="categoryHasProduct" />
        @if (Model.categoryHasProduct)
        {
        <p>@Model.ErrorMessage</p>
        <label class="control-label">Veuillez retaper le nom de la catégorie pour confirmer la suppression (ATTENTION!! La suppression va aussi supprimer tous les produits associés à cette catégorie)</label>
        <input asp-for="NameConfirm" class="form-control" />
        }
        <input type="submit" value="Supprimer" class="btn btn-default" /> |
        <a asp-action="Index">Retour à la liste</a>
    </form>
</div>
