﻿@model SpekSkates.Admin.Web.Modules.ProductCategory.ViewModels.ViewModel

@{
    ViewData["Title"] = "View";
}

<h2>Modifier</h2>

<h4>Catégorie de produit</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <p>@Model.ErrorMessage</p>
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="ProductCategory.Name" class="control-label"></label>
                <input asp-for="ProductCategory.Name" class="form-control" />
                <span asp-validation-for="ProductCategory.Name" class="text-danger"></span>
                
                <div class="col-md-12">
                    Choisir le bon type de catégorie:
                    <select asp-for="ProductCategory.CategoryType" asp-items="Model.CategoryTypes" class="form-control">
                      
                    </select>
                </div>
                

                <div class="col-md-12">
                    Associer aux bonnes grandeurs de produit:
                    <select asp-for="ProductSizeIds" asp-items="Model.ProductSizeSelectList" class="select2 form-control">
                    </select>
                </div>
                
                <div class="col-md-12">
                    Associer aux bonnes formes de produit:
                    <select asp-for="ProductShapeIds" asp-items="Model.ProductShapeSelectList" class="select2 form-control">
                    </select>
                </div>

                <div class="col-md-12">
                    Associer aux bonnes sous-categories de produit:
                    <select asp-for="ProductCategoriesIds" asp-items="Model.ProductCategoriesSelectList" class="select2 form-control">
                        <option>Veuillez choisir au moins une categorie de produit</option>
                    </select>
                  </div>



            </div>
            <input type="hidden" asp-for="ProductCategory.Id" />
            <div class="form-group">
                <input type="submit" value="Enregistrer" class="btn btn-default" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Retour à la liste</a>
</div>

