﻿<h1>Ajouter un administrateur</h1>
<form method="POST">
    <div>
        <label>Courriel</label>
        <input type="email" name="email" />
    </div>

    <input type="submit" value="Envoyer" />
</form>

