﻿@model changePassword
<h1>Réinitialiser votre mot de passe</h1>

@if (Model != null)
{
    if (Model.ErrorMessage != null)
    {
        <div class="text-danger">@Model.ErrorMessage</div>
    }
    else if (Model.ConfirmPassword != null)
    {
        <div><em>@Model.ConfirmationMessage</em></div>
    }
}

<form asp-controller="Utilisateur"
      asp-action="changePassword"
      method="post">
    <table>
        <tr>
            <td>
                <label asp-for="OldPassword">
                    Ancien mot de passe
                </label>
            </td>
            <td><input asp-for="OldPassword" /></td>
        </tr>
        <tr>
            <td>
                <label asp-for="Password">
                    Nouveau mot de passe
                </label>
            </td>
            <td><input asp-for="Password" /></td>
        </tr>
        <tr>
            <td>
                <label asp-for="ConfirmPassword">
                    Confirmer nouveau mot de passe
                </label>
            </td>
            <td><input asp-for="ConfirmPassword" /></td>
        </tr>
        <tr>
            <td colspan="2">
                <input type="submit"
                       value="Réinitialiser mot de passe" />
            </td>
        </tr>
    </table>

    <div asp-validation-summary="All"></div>

</form>



