﻿@model Microsoft.AspNetCore.Identity.IdentityUser

@{
    ViewData["Title"] = "Delete";
}

<h2>Supprimer</h2>

<h3>Êtes-vous certain de vouloir supprimer cet utilisateur?</h3>
<div>
    <h4>Admin</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Email)
        </dt>
    </dl>

    <form asp-action="Delete">
        <input type="hidden" asp-for="Id" />
        <input type="submit" value="Supprimer" class="btn btn-default" /> |
        <a asp-action="Index">Retour à la liste</a>
    </form>
</div>


