﻿<h1>Mot de passe oublié ?</h1>
<form method="POST">
    <div>
        <label>Courriel :</label>
        <input type="email" name="email" />
    </div>

    <input type="submit"  value="Envoyer"/>
</form>

