﻿@model IEnumerable<Microsoft.AspNetCore.Identity.IdentityUser>
<h1>Utilisateur</h1>

@if (User.Identity.IsAuthenticated)
{
    <p>Bonjour @User.Identity.Name ! Vous êtes connecté ! <!-- <a href="/Utilisateur/Logout">Logout</a>--> </p>
    <br/>
    <a href="/Utilisateur/changePassword">Réinitialiser votre mot de passe</a>
    <br/>
    <a href="/Utilisateur/AddAdmin">Ajouter un administrateur</a>
    @if (Model != null)
    {
        @foreach (var admin in Model)
        {
            @if (admin.UserName != User.Identity.Name)
            {
                <div>

                    @Html.DisplayFor(modelItem => admin.Email)

                    <a asp-action="Delete" asp-route-id="@admin.Id">Supprimer</a>
                </div>
            }
        }
        <br />

        @*<a asp-action="Download">Guide de l'utilisateur</a>*@
        <a target="_blank" href="../guide_utilisateur.pdf">Guide de l'utilisateur</a>
    }


}
else
{
    <form action="Utilisateur/login" method="POST">
        <div>
            <label>Courriel :</label>
            <input type="email" name="email" />
        </div>

        <div>
            <label>Mot de passe :</label>
            <input type="password" name="password" />
        </div>

        <input type="submit" value="Envoyer" />
    </form>

    <div asp-validation-summary="All"></div>

<a href = "/Utilisateur/ForgotPassword"> Vous avez oublié votre mot de passe ?</a>
}