﻿<form method="POST">
    <div>
        <label>Courriel :</label>
        <input type="email" name="email" />
    </div>

    <div>
        <label>Mot de passe :</label>
        <input type="password" name="password" />
    </div>

    <div>
        <label>Confirmation du mot de passe :</label>
        <input type="password" name="repassword" />
    </div>

    <input type="submit"  value="Envoyer"/>
</form>

<div asp-validation-summary="All"></div>

