﻿@model ResetPasswordViewModel
<h1>Réinitialiser le mot de passe</h1>

<form asp-controller="Utilisateur"
      asp-action="ResetPassword"
      method="post">

    <input type="hidden" asp-for="Token" />
    <table>
        <tr>
            <td><label asp-for="Email"></label></td>
            <td><input asp-for="Email" /></td>
        </tr>
        <tr>
            <td>
                <label asp-for="Password">
                    Nouveau mot de passe :
                </label>
            </td>
            <td><input asp-for="Password" /></td>
        </tr>
        <tr>
            <td>
                <label asp-for="ConfirmPassword">
                    Confirmation du mot de passe :
                </label>
            </td>
            <td><input asp-for="ConfirmPassword" /></td>
        </tr>
        <tr>
            <td colspan="2">
                <input type="submit"
                       value="Réinitialiser le mot de passe" />
            </td>
        </tr>
    </table>

    <div asp-validation-summary="All"></div>

</form>

