﻿@using SpekSkates.Admin.Web.Modules.HomePage
@model SpekSkates.Admin.Web.Modules.HomePage.ViewModels.ViewModelDetail

@{
    ViewData["Title"] = "Créer";
}

<h2>Créer</h2>

<h4>Page d'accueil</h4>
<hr />
<div class="row">
    <div class="col-md-12">
        <form asp-action="Create" enctype="multipart/form-data">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="HomePage.Id" />
            <input type="hidden" asp-for="HomePage.isActive" />
            <input type="hidden" asp-for="HomePage.isDelete" />
            <input type="hidden" asp-for="HomePage.isDefault" />
            <input type="hidden" asp-for="HomePage.AboutImagePath" />
            <input type="hidden" asp-for="HomePage.PersoImagePath" />


            <div class="form-group">


                <div class="col-md-12">

                    <label asp-for="HomePage.Name" class="control-label"></label>
                    <input asp-for="HomePage.Name" class="form-control" />
                    <span asp-validation-for="HomePage.Name" class="text-danger"></span>

                </div>

                <div class="col-md-12">
                    <label for="SliderIds">Bannière:</label>
                    <select asp-for="SliderIds" asp-items="Model.SliderSelectList" class="select2 form-control">
                        
                    </select>
                </div>

                <div class="col-md-12">
                    <label for="ProductIds">Produits vedettes:</label>
                    <select asp-for="ProductIds" asp-items="Model.ProductSelectList" class="select2Limit5 form-control">
                        
                    </select>
                </div>

                <div class="col-md-12">

                    <label asp-for="HomePage.AboutTitle" class="control-label"></label>
                    <input asp-for="HomePage.AboutTitle" class="form-control" />
                    <span asp-validation-for="HomePage.AboutTitle" class="text-danger"></span>

                </div>

                <div class="col-md-12">

                    <label asp-for="HomePage.AboutText" class="control-label"></label>
                    <br />
                    <textarea asp-for="HomePage.AboutText"></textarea>
                    <span asp-validation-for="HomePage.AboutText" class="text-danger"></span>

                </div>
                <div class="col-md-12">
                    <label asp-for="FileAbout" class="control-label"></label>
                    <input id="fileAbout" asp-for="FileAbout" type="file" name="FileAbout" accept="image/*" />
                    @if (!string.IsNullOrEmpty(Model.HomePage.AboutImagePath))
                    {
                        <img src="@Model.HomePage.AboutImagePath" height="250px" width="250px" />

                        <a asp-action="Delete"
                           asp-route-blobName="@Model.HomePage.AboutImagePath" asp-route-id="@Model.HomePage.Id" asp-route-identifiant="about">
                            Supprimer
                        </a>
                    }


                </div>

                <div class="col-md-12">
                    <label asp-for="HomePage.PersoContent" class="control-label"></label>
                    <textarea asp-for="HomePage.PersoContent"></textarea>

                    <span asp-validation-for="HomePage.PersoContent" class="text-danger"></span>
                </div>
                <div class="col-md-12">
                    <label asp-for="FilePerso" class="control-label"></label>
                    <input id="FilePerso" type="file" name="FilePerso"  accept="image/*"/>
                    @if (!string.IsNullOrEmpty(Model.HomePage.PersoImagePath))
                    {
                        <img src="@Model.HomePage.PersoImagePath" height="250px" width="250px" />

                            <a asp-action="Delete"
                               asp-route-blobName="@Model.HomePage.PersoImagePath" asp-route-id="@Model.HomePage.Id" asp-route-identifiant="perso">
                                Supprimer
                            </a>
                    }
                </div>
            </div>
            <div class="form-group col-md-12">
                <input type="submit" value="Enregistrer" class="btn btn-default" />
            </div>
        </form>
    </div>





</div>

<div>
    <a asp-action="Index">Retour à la liste</a>
</div>


@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
