﻿@model SpekSkates.Admin.Web.Modules.About.ViewModels.ViewModelAboutUs

@{
    ViewData["Title"] = "Create";
}

<h2>Créer une page À Propos</h2>

<h4>À Propos</h4>
<hr />
<div class="row">
    <div class="col-md-6">
        <form asp-action="Create" enctype="multipart/form-data">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <div class="col-md-12">
                    <label asp-for="@Model.AboutUs.Name" class="control-label"></label>
                    <input asp-for="@Model.AboutUs.Name" class="form-control" />
                    <span asp-validation-for="@Model.AboutUs.Name" class="text-danger"></span>
                </div>
                <div class="col-md-12">

                    <label asp-for="@Model.AboutUs.IntroductionText" class="control-label"></label>
                    <textarea asp-for="@Model.AboutUs.IntroductionText" class="form-control"></textarea>
                    <span asp-validation-for="@Model.AboutUs.IntroductionText" class="text-danger"></span>
                </div>

                <div class="col-md-12">
                    <label asp-for="ImagePath1" class="control-label"></label>

                    <input asp-for="ImagePath1" type="file" name="ImagePath1" accept="image/*" />

                </div>
                <div class="col-md-12">
                    <label asp-for="ImagePath2" class="control-label"></label>

                    <input asp-for="ImagePath2" type="file" name="ImagePath2" accept="image/*" />

                </div>
                <div class="col-md-12">
                    <label asp-for="ImagePath3" class="control-label"></label>

                    <input asp-for="ImagePath3" type="file" name="ImagePath3" accept="image/*" />

                </div>

                <div class="col-md-12">
                    <label asp-for="@Model.AboutUs.Content" class="control-label"></label>
                    <textarea asp-for="@Model.AboutUs.Content" class="form-control"></textarea>
                    <span asp-validation-for="@Model.AboutUs.Content" class="text-danger"></span>
                </div>
            </div>
   
            <div class="col-md-12">
                <input type="submit" value="Ajouter la page" class="btn btn-default" />
            </div>
        </form>
    </div>
</div>
         </br>
<div class="col-md-12">
    <a asp-action="Index">Retour à l'Index</a>
</div>

