﻿@model SpekSkates.Admin.Web.Modules.Team.ViewModels.ViewModelEmployee

@{
    ViewData["Title"] = "Supprimer l'employé";
}

<h2>Supprimer l'employé</h2>

<h3>Voulez-vous vraiment suppimer cet employé?</h3>
<div>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Employee.Name)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Employee.Name)
        </dd>
@if (!string.IsNullOrEmpty(Model.Employee.ImagePath))
{
        <dt>
            Photo: 
        </dt>
        <dd>            
            <img src="@Model.Employee.ImagePath" height="200px" width="200px" />
        </dd>
}
    </dl>
    
    <form asp-action="deleteEmployee">
        <input type="hidden" asp-for="@Model.aboutUsId" />
        <input type="submit" value="Supprimer" class="btn btn-default" /> |
        <a asp-action="RedirectToEdit" asp-route-aboutUsId="@Model.aboutUsId">Annuler</a>
    </form>

</div>
