﻿@model SpekSkates.Admin.Web.Modules.About.ViewModels.ViewModelAboutUs

@{
    ViewData["Title"] = "Edit";
}

<h2>À Propos - Modification</h2>

<div class="row">
    <div class="col-md-6">
        <form asp-action="Edit" enctype="multipart/form-data">
            <input type="hidden" asp-for="AboutUs.isActive" />
            <input type="hidden" asp-for="AboutUs.isDelete" />
            <input type="hidden" asp-for="AboutUs.isDefault" />
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            
            <div class="form-group">
                <div class="col-md-12">
                    <label asp-for="AboutUs.Name" class="control-label"></label>
                    <input asp-for="AboutUs.Name" class="form-control" />
                    <span asp-validation-for="AboutUs.Name" class="text-danger"></span>
                </div>
                <div class="col-md-12">
                    <label asp-for="AboutUs.IntroductionText" class="control-label"></label>
                    <textarea asp-for="AboutUs.IntroductionText" class="form-control"></textarea>
                    <span asp-validation-for="AboutUs.IntroductionText" class="text-danger"></span>
                </div>
                <div class="col-md-12">
                    <label asp-for="ImagePath1" class="control-label"></label>
                    @if (!string.IsNullOrEmpty(Model.AboutUs.ImagePath1))
                    {
                        <img src="@Model.AboutUs.ImagePath1" height="150px" width="500px" />
                        <input type="hidden" value="@Model.AboutUs.ImagePath1" name="AboutUs.ImagePath1" />

                        <a asp-action="DeleteblobAbout1"
                           asp-route-blobName="@Model.AboutUs.ImagePath1" asp-route-id="@Model.AboutUs.Id">
                            Supprimer la photo
                        </a>
                    }
                    else
                    {
                        <input asp-for="ImagePath1" type="file" name="ImagePath1" accept="image/*" />
                    }
                </div>
                <div class="col-md-12">
                    <label asp-for="ImagePath2" class="control-label"></label>
                    @if (!string.IsNullOrEmpty(Model.AboutUs.ImagePath2))
                    {
                        <img src="@Model.AboutUs.ImagePath2" height="150px" width="500px" />
                        <input type="hidden" value="@Model.AboutUs.ImagePath2" name="AboutUs.ImagePath2" />

                        <a asp-action="DeleteblobAbout2"
                           asp-route-blobName="@Model.AboutUs.ImagePath2" asp-route-id="@Model.AboutUs.Id">
                            Supprimer la photo
                        </a>
                    }
                    else
                    {
                        <input asp-for="ImagePath2" type="file" name="ImagePath2" accept="image/*" />
                    }
                </div>
                <div class="col-md-12">
                    <label asp-for="ImagePath3" class="control-label"></label>
                    @if (!string.IsNullOrEmpty(Model.AboutUs.ImagePath3))
                    {
                        <img src="@Model.AboutUs.ImagePath3" height="150px" width="500px" />
                        <input type="hidden" value="@Model.AboutUs.ImagePath3" name="AboutUs.ImagePath3" />

                        <a asp-action="DeleteblobAbout3"
                           asp-route-blobName="@Model.AboutUs.ImagePath3" asp-route-id="@Model.AboutUs.Id">
                            Supprimer la photo
                        </a>
                    }
                    else
                    {
                        <input asp-for="ImagePath3" type="file" name="ImagePath3" accept="image/*" />
                    }
                </div>
                <div class="col-md-12">
                    <label asp-for="AboutUs.Content" class="control-label"></label>
                    <textarea asp-for="AboutUs.Content" class="form-control"></textarea>
                    <span asp-validation-for="AboutUs.Content" class="text-danger"></span>
                </div>
            </div>
            </br>
            <div class="col-md-12">
                <input type="submit" value="Sauvegarder modifications" class="btn btn-default" />
                <input type="hidden" value="@Model.AboutUs.Id" name="AboutUs.Id" /> 

            </div>
        </form>
        <br/>

       
</div>
    
<div class="col-lg-6">
    <form asp-action="CreateEmployee" enctype="multipart/form-data">
        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
        <input type="hidden" value="@Model.AboutUs.Id" name="id" /> 
        <h4>Ajouter un employé</h4>
        <div class="form-group">
            <label asp-for="Employee.Name" class="control-label"></label>
            <input asp-for="Employee.Name" class="form-control" />
            <span asp-validation-for="Employee.Name" class="text-danger"></span>
        </div>

        <div class="form-group">
            <label asp-for="Employee.Description" class="control-label"></label>
            <textarea asp-for="Employee.Description" class="form-control"></textarea>
            <span asp-validation-for="Employee.Description" class="text-danger"></span>
        </div>

        <div class="form-group">
            <label asp-for="EmployeePicture" class="control-label"></label>
            <input asp-for="EmployeePicture" type="file" name="EmployeePicture" accept="image/*"/>
        </div>
        
        <div >
            <input type="submit" value="Ajouter l'employé" class="btn btn-default" />
        </div>
    </form>
</div>
    
    <div class="col-lg-6">

        <h3>Équipe</h3>
           @if (Model.AboutUs.Team != null && Model.AboutUs.Team.Count > 0)
            {
                  
                @foreach (var employee in Model.AboutUs.Team)
                {

                    <h4>@Html.DisplayFor(modelItem => employee.Name)</h4>
                    @if (!string.IsNullOrEmpty(employee.ImagePath))
                    { 
                        <img src="@employee.ImagePath" height="150px" width="150px" />
                        <a asp-action="Deleteblob"
                           asp-route-blobName="@employee.ImagePath"
                           asp-route-id="@employee.Id" asp-route-pageId="@Model.AboutUs.Id">
                            Supprimer la photo
                        </a>
                    }

                    <p>@Html.DisplayFor(modelItem => employee.Description)</p>

                    <a asp-action="editEmployee" asp-route-id="@employee.Id" asp-route-pageId="@Model.AboutUs.Id">Modifier</a>
                    <a asp-action="deleteEmployee" asp-route-id="@employee.Id" asp-route-pageId="@Model.AboutUs.Id"> Supprimer</a>
    
                 }
            }
            else
            {
                <p>Aucun employé à afficher</p>
            }
          
        </div>
 
<a asp-action="Index">Retour à l'Index</a>


