﻿@model SpekSkates.Admin.Web.Modules.Team.ViewModels.ViewModelEmployee

@{
    ViewData["Title"] = "editEmployee";
}

<h2>Modifier l'employé</h2>

<hr />
<div class="row">
    <div class="col-md-6">
        <form asp-action="editEmployee" enctype="multipart/form-data">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <div class="col-md-12">
                    <label asp-for="Employee.Name" class="control-label"></label>
                    <input asp-for="Employee.Name" class="form-control" />
                    <span asp-validation-for="Employee.Name" class="text-danger"></span>
                </div>
                <div class="col-md-12">

                    <label asp-for="Employee.Description" class="control-label"></label>
                    <textarea asp-for="Employee.Description"></textarea>
                    <span asp-validation-for="Employee.Description" class="text-danger"></span>
                </div>
                <div class="col-md-12">
                    <label asp-for="EmployeePicture" class="control-label"></label>
                    @if (!string.IsNullOrEmpty(Model.Employee.ImagePath))
                    {
                        <td>
                            <a asp-action="DeleteEmployeePicture"
                               asp-route-blobName="Employee.ImagePath"
                               asp-route-id="@Model.Employee.Id" asp-route-pageId="@Model.aboutUsId">
                                Supprimer la photo
                            </a>
                        </td>
                        <td>
                            <img src="@Model.Employee.ImagePath" height="150px" width="150px" />
                        </td>
                    }
                    else
                    {
                        <div class="form-group">
                            <input asp-for="EmployeePicture" type="file" name="EmployeePicture" accept="image/*" />
                        </div>
                    }
                </div>
            
                <div class="col-md-12">
                    <input type="submit" value="Sauvegarder" class="btn btn-default" />
                    <input type="hidden" value="@Model.aboutUsId" name="aboutUsId" />
                    <input type="hidden" value="@Model.Employee.Id" name="Employee.Id" />
                </div>
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Retour à l'Index</a>
</div>

