﻿@model SpekSkates.Admin.Web.Modules.Slider.ViewModelDetail


@{
    ViewData["Title"] = "Create";
}

<h2>Ajouter</h2>


<h4>Image</h4>
<hr />
<div class="row">
    <div class="col-md-12">
        <form asp-action="Create" enctype="multipart/form-data">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="Slider.Id" />
            <div class="form-group">

               <div class="col-md-6">

                    <label asp-for="Slider.Name" class="control-label"></label>
                    <input asp-for="Slider.Name" class="form-control" />
                    <span asp-validation-for="Slider.Name" class="text-danger"></span>

                </div>

                <div class="col-md-6">

                    <label asp-for="Slider.Text" class="control-label"></label>
                    <input asp-for="Slider.Text" class="form-control" />
                    <span asp-validation-for="Slider.Text" class="text-danger"></span>

                </div>


                <div class="col-md-6">

                    <label asp-for="Slider.Link" class="control-label"></label>
                    <input asp-for="Slider.Link" class="form-control" />
                    <span asp-validation-for="Slider.Link" class="text-danger"></span>

                </div>

                <div class="col-md-6">
                    <label asp-for="File" class="control-label"></label>
                    <input asp-for="File" type="file" name="file" class="required"/>
                    <span asp-validation-for="File" class="text-danger"></span>
                    @if (!string.IsNullOrEmpty(Model.Slider.ImagePath))
                    {
                        <img src="@Model.Slider.ImagePath" height="250px" width="250px"/>

                        <a asp-action="Delete"
                           asp-route-blobName="@Model.Slider.ImagePath" asp-route-id="@Model.Slider.Id">
                            Supprimer
                        </a>
                    }

                </div>

            </div>
            <div class="form-group col-md-12">
                <input type="submit" value="Enregistrer" class="btn btn-default" />
            </div>
        </form>
    </div>





</div>

<div>
    <a asp-action="Index">Retour à la liste</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
    

}

