<template>
  <div id="app">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <header>
      <b-navbar toggleable="md" type="dark" variant="dark">

        <b-nav-toggle target="nav_collapse"></b-nav-toggle>

        <b-navbar-brand href="#">
        <router-link v-bind:to="'/'">
          SPEKSKATE
          </router-link>
        </b-navbar-brand>

        <b-collapse is-nav id="nav_collapse">

          <b-nav is-nav-bar>
            <b-nav-item href="#"><router-link v-bind:to="'/'">Accueil</router-link></b-nav-item>
            <b-nav-item href="#"><router-link v-bind:to="'/about'">À propos</router-link></b-nav-item>
            <b-nav-item href="#"><router-link v-bind:to="'/Contact'">Contact</router-link></b-nav-item>
            <b-nav-item href="#"><router-link v-bind:to="'/History'">Histoire</router-link></b-nav-item>
            <b-nav-item href="#"><router-link v-bind:to="'/listeProduit'">Produits</router-link></b-nav-item>
            <b-nav-item href="#"><router-link v-bind:to="'/BoardCustom'">Planche personnalisée</router-link></b-nav-item>
            <b-nav-item v-for="pageName in pageHome" href="#" :key="pageName"><router-link v-bind:to="encodeURIComponent(pageName)">{{pageName}}</router-link></b-nav-item>
            <b-nav-item v-for="pageName in pageContact" href="#" :key="pageName"><router-link v-bind:to="encodeURIComponent(pageName)">{{pageName}}</router-link></b-nav-item>
            <b-nav-item v-for="pageName in pageAboutUs" href="#" :key="pageName"><router-link v-bind:to="encodeURIComponent(pageName)">{{pageName}}</router-link></b-nav-item>
            <b-nav-item v-for="pageName in pageHistory" href="#" :key="pageName"><router-link v-bind:to="encodeURIComponent(pageName)">{{pageName}}</router-link></b-nav-item>

          </b-nav>

          <!-- Right aligned nav items -->
          <b-nav is-nav-bar class="ml-auto">
            <b-nav-item href="#" class="snipcart-checkout">Panier</b-nav-item>

            <b-nav-form action="listeProduit">
              <b-form-input v-model="text" size="sm" required pattern=".{2,}" title="Entrez au moins 2 characteres" class="mr-sm-2" type="text" id="recherche" name="recherche" placeholder="Rechercher"/>
              <b-button size="sm" class="my-2 my-sm-0" type="submit">Rechercher</b-button>
            </b-nav-form>
          </b-nav>

        </b-collapse>
      </b-navbar>
    </header>
    
    <div class="content">
    <router-view></router-view>
    </div>
    
    <footer>
      <div id="menu-footer">
        <router-link v-bind:to="'/'">Accueil</router-link>
        <router-link v-bind:to="'/about'">À propos</router-link>
        <router-link v-bind:to="'/contact'">Contact</router-link>
        <router-link v-bind:to="'/history'">Histoire</router-link>
      </div>
      <div id="media">
        <a href="#"><img src="./assets/fb.png"></a>
        <a href="#"><img src="./assets/twitter.png"></a>
        <a href="#"><img src="./assets/instagram.png"></a>
        <a href="/infolettre"><img src="./assets/mail.png"></a>
      </div>
    </footer>
  </div>
</template>

<script>
import Home from '@/components/Home'
import About from '@/components/About'
import Contact from '@/components/Contact'
import History from '@/components/History'
import callApi from '@/components/config.js'

export default {
  name: 'app',
   data () {
      return {
          pageHome:[],
          pageContact:[],
          pageAboutUs:[],
          pageHistory:[]
      }
    },
    mounted: function() {
      this.initRouting();
    },
    methods:{
      initRouting(){
        this.initHomePageCustom();
        this.initContactCustom();
        this.initAboutUsCustom();
        this.initHistoryCustom();
      },
      initHomePageCustom(){
        var self = this;
            let xhr = new XMLHttpRequest(),
              method = 'GET',
              url = callApi.callApi + '/api/apiHomePage/GetAllPageCustomName';

              xhr.open(method, url, true);
              xhr.onreadystatechange = function() {
                if (xhr.readyState === XMLHttpRequest.DONE) {
                  console.dir(xhr);
                  if (xhr.status === 200) {
                    self.pageHome = JSON.parse(xhr.responseText).value;
                    var newRoute = [];
                      self.pageHome.forEach(function(pageName) {
                          newRoute.push({
                          path: '/'+ encodeURIComponent(pageName),
                          name: '/'+pageName,
                          component: Home
                      });
                      }, this);

                      self.$router.addRoutes(newRoute);

                  }
                else {
                  console.log("error route custom home")
                }
              }
            };
            xhr.send();
        },
        initContactCustom(){
        var self = this;
            let xhr = new XMLHttpRequest(),
              method = 'GET',
              url = callApi.callApi + '/api/apiContact/GetAllPageCustomName';

              xhr.open(method, url, true);
              xhr.onreadystatechange = function() {
                if (xhr.readyState === XMLHttpRequest.DONE) {
                  console.dir(xhr);
                  if (xhr.status === 200) {
                    self.pageContact = JSON.parse(xhr.responseText).value;
                    var newRoute = [];
                      self.pageContact.forEach(function(pageName) {
                          newRoute.push({
                          path: '/'+ encodeURIComponent(pageName),
                          name: '/'+ pageName,
                          component: Contact
                      });
                      }, this);

                      self.$router.addRoutes(newRoute);

                  }
                else {
                      console.log("error route custom contact")
                }
              }
            };
            xhr.send();
        },
        initAboutUsCustom(){
        var self = this;
            let xhr = new XMLHttpRequest(),
              method = 'GET',
              url = callApi.callApi + '/api/apiAbout/GetAllPageCustomName';

              xhr.open(method, url, true);
              xhr.onreadystatechange = function() {
                if (xhr.readyState === XMLHttpRequest.DONE) {
                  console.dir(xhr);
                  if (xhr.status === 200) {
                    self.pageAboutUs = JSON.parse(xhr.responseText).value;
                    var newRoute = [];
                      self.pageAboutUs.forEach(function(pageName) {
                          newRoute.push({
                          path: '/'+ encodeURIComponent(pageName),
                          name: '/'+ pageName,
                          component: About
                      });
                      }, this);

                      self.$router.addRoutes(newRoute);

                  }
                else {
                    console.log("error route custom contact")
                }
              }
            };
            xhr.send();
        },
        initHistoryCustom(){
        var self = this;
            let xhr = new XMLHttpRequest(),
              method = 'GET',
              url = callApi.callApi + '/api/apiHistory/GetAllPageCustomName';

              xhr.open(method, url, true);
              xhr.onreadystatechange = function() {
                if (xhr.readyState === XMLHttpRequest.DONE) {
                  console.dir(xhr);
                  if (xhr.status === 200) {
                    self.pageHistory = JSON.parse(xhr.responseText).value;
                    var newRoute = [];
                      self.pageHistory.forEach(function(pageName) {
                          newRoute.push({
                          path: '/'+ encodeURIComponent(pageName),
                          name: '/'+pageName,
                          component: History
                      });
                      }, this);

                      self.$router.addRoutes(newRoute);

                  }
                else {
                  console.log("error route custom home")
                }
              }
            };
            xhr.send();
        },
    }
}
</script>

<style>
body{
  margin:0;
  padding:0;
}
.nav-item a{
  color: #fff;
}

footer{
  background-color:#fff;
  position:fixed;
  bottom:0;
  height: 35px;
  width:100%;
}

#menu-footer{
  padding-left: 20px;
  padding-top: 5px;
}

#menu-footer a{
  text-decoration:none;
  color: #000;
  padding-left:5px;
  font-size: 75%;
  float: left;

}

#menu-footer a:hover{
  text-decoration:underline;
}

#media
{
  padding-right:15px;
  float:right;
}

.content{
  margin-left: 20px;
  margin-right: 20px;
  margin-top: 20px;
  margin-bottom: 100px;
}
</style>
