﻿
@model SpekSkates.Admin.Web.Modules.Package.ViewModels.ViewModelPackage

@{
    ViewData["Title"] = "Créer";
}

<h2>Créer</h2>

<h3>Package</h3>

@if (Model.errorMessage != "")
{
    <div class="text-danger">@Model.errorMessage</div>
}
<hr />

<div class="row">
    <form asp-action="Create" enctype="multipart/form-data">
        <div class="col-md-6">
            <input type="hidden" asp-for="SelectListProduct" />

            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="col-md-12">
                <label asp-for="Package.Name" class="control-label"></label>
                <input asp-for="Package.Name" class="form-control" />
                <span asp-validation-for="Package.Name" class="text-danger"></span>
            </div>

            <div class="col-md-12">
                <label asp-for="Package.codeProduit" class="control-label"></label>
                <input asp-for="Package.codeProduit" class="form-control required" />
                <span asp-validation-for="Package.codeProduit" class="text-danger"></span>
            </div>

            <div class="col-md-12">
                <label asp-for="Package.isEnPromotion" class="control-label"></label>
                <input asp-for="Package.isEnPromotion" />
                <span asp-validation-for="Package.isEnPromotion" class="text-danger"></span>
            </div>

            <div class="col-md-12">
                <label asp-for="Package.isNonDisponible" class="control-label"></label>
                <input asp-for="Package.isNonDisponible" />
                <span asp-validation-for="Package.isNonDisponible" class="text-danger"></span>
            </div>

            <br />

            <div class="col-md-12">
                <label asp-for="File" class="control-label">Image du package (Taille suggérée : 350px x 350px) :</label>
                <input asp-for="File" type="file" name="file" />
            </div>

            <div class="col-md-12">
                <label asp-for="Package.Price" class="control-label"></label>
                <input asp-for="Package.Price" class="form-control" id="pack-price" />
                <span asp-validation-for="Package.Price" class="text-danger"></span>
            </div>

            <div class="col-md-12">
                <label asp-for="Package.DiscountPercentage" class="control-label"></label>
                <input asp-for="Package.DiscountPercentage" class="form-control" id="pack-discount" />
                <span asp-validation-for="Package.DiscountPercentage" class="text-danger"></span>
            </div>

            <div class="col-md-12">
                <label asp-for="discountApplied">Appliquer le rabais : </label>
                <input id="chkDiscount" type="checkbox" asp-for="discountApplied" />
                <span asp-validation-for="discountApplied" />
            </div>

            <div class="col-md-12">
                <input id="submitButton" type="submit" value="Enregistrer" class="btn btn-default" />
            </div>
        </div>
        <div class="col-lg-6">
            <div>
                <h4 class="col-md-12">Produits compris dans le package</h4>
            </div>
            <p class="col-md-12">
                <a href="javascript:void(0);" class="addRow btn btn-primary">Ajouter un produit</a>
            </p>
            <div id="productList" class="col-md-12">
                @{
                    int max;

                    if (Model.NewLiensProduitPackage.Count > 1)
                    {
                        max = Model.NewLiensProduitPackage.Count;
                    }
                    else
                    {
                        max = 1;
                        Model.NewLiensProduitPackage.Add(null);
                    }

                    @for (int i = 0; i < max; i++)
                    {
                        <div class="productRow">
                            @Html.DropDownListFor(model => model.NewLiensProduitPackage[i].ProductId, Model.SelectListProduct, "Choisir un produit", new { @class = "productName", @name = "NewLiensProduitPackage[" + i + "].ProductId" })

                            @Html.TextBoxFor(model => Model.NewLiensProduitPackage[i].Quantity, new { @class = "productQuantity", @name = "Quantity", @value = "1" })
                            <a href="javascript:void(0);" class="remRow">Supprimer</a>
                            <div id="@("validationDiv"+i)">
                                @Html.ValidationMessageFor(model => Model.NewLiensProduitPackage[i].ProductId, null, new { @class = "text-danger" })
                                @Html.ValidationMessageFor(model => Model.NewLiensProduitPackage[i].Quantity, null, new { @class = "text-danger" })
                            </div>
                        </div>

                    }
                }
            </div>
        </div>
    </form>

    <div hidden="hidden">
        <select id="hiddenproductDropDownList">
            <option value="0">0</option>
            @foreach (var type in Model.HiddenSelectListProductId)
            {
                <option value="@type.Value">
                    @type.Text
                </option>
            }
        </select>
        <input type="hidden" asp-for="HiddenSelectListProductId" />
    </div>


</div>



<div class="col-md-12">
    <a asp-action="Index">Retour à la liste</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
    <script type="text/javascript">

        EnableorDisableDiscount();
        var rowCount = $('.productRow').length;

        $(document).ready(function () {
            
            attachValueChangeEventsToExistingFields(rowCount - 1);

        $(".addRow").click(function () {

            var rowCount = $('.productRow').length;
            //DO NOT EDIT. - - -- - - -  - - -The default option "Choisir un produit" is required.  -- - - - - - - - - -  - - DO NOT EDIT
            $("#productList").append('<div class="productRow"><select id="NewLiensProduitPackage_' + rowCount + '__ProductId" name="NewLiensProduitPackage[' + rowCount + '].ProductId" class="productName"><option class="productSelect">Choisir un produit</option>@foreach (SelectListItem item in Model.SelectListProduct){<option value="@item.Value">@item.Text</option>}</select><input value=1 type="text" id="NewLiensProduitPackage_' + rowCount + '__Quantity" name="NewLiensProduitPackage[' + rowCount + '].Quantity" class="productQuantity";"/><a href="javascript:void(0);" class="remRow">Supprimer</a><div id="validationDiv' + rowCount + '" class="validationDiv"><span class="field-validation-valid text-danger valId" data-valmsg-for="NewLiensProduitPackage[' + rowCount + '].ProductId" data-valmsg-replace="true"></span><span class="field-validation-valid text-danger valQty" data-valmsg-for="NewLiensProduitPackage[' + rowCount + '].Quantity" data-valmsg-replace="true"></span></div></div>');
            attachValueChangeEventsToNewField(rowCount);
            });

        var qtyInput = document.getElementsByClassName("productQuantity"); 

        for (i = 0; i < qtyInput.length; i++) {
            if (qtyInput[i].value == null || qtyInput[i].value == undefined || qtyInput[i].value == "") {
                qtyInput[i].value = 1;
            }
        }


        });

        $("#productList").on('click', '.remRow', function () {

            $(this).closest('.productRow').remove();

            $('.productName').each(function (index) {
                $(this).attr('name', 'NewLiensProduitPackage[' + index + '].ProductId');
            });

            $('.productQuantity').each(function (index) {
                $(this).attr('name', 'NewLiensProduitPackage[' + index + '].Quantity');

            });

            //$('.validationDiv').each(function (index) {
            //    var validationDiv = $(this)[0];
            //    var productId = validationDiv.children[0];
            //    var quantity = validationDiv.children[1];
            //    //console.log(productId); 
            //    //console.log(quantity.attributes["data-valmsg-for"]);
            //    productId.attributes["data-valmsg-for"].value = "NewLiensProduitPackage[" + index + "].ProductId";
            //    quantity.attributes["data-valmsg-for"].value = "NewLiensProduitPackage[" + index + "].Quantity";
                
            //    //console.log(quantity.attributes["data-valmsg-for"]);
            //    //productId.attr('data-valmsg-for', "NewLiensProduitPackage[" + index + "].ProductId");
            //    //quantity.attr('data-valmsg-for', "NewLiensProduitPackage[" + index + "].Quantity");

            //});

            calculatePackagePrice();
        })

       

        function attachValueChangeEventsToExistingFields(index)
        {
            var chk = document.getElementById("chkDiscount");
            var discountTxtField = document.getElementById("pack-discount");

            chk.addEventListener('change', EnableorDisableDiscount, false);
            discountTxtField.addEventListener('change', calculatePackagePrice, false);

            for (i = 0; i <= index; i++)
            {
                var selectProduct = document.getElementById("NewLiensProduitPackage_" + i + "__ProductId");
                var productQuantity = document.getElementById("NewLiensProduitPackage_" + i + "__Quantity");

                console.log("Event attached! to i = " + i);

                selectProduct.addEventListener('change', calculatePackagePrice, false);
                //selectProduct.index = i;

                productQuantity.addEventListener('change', calculatePackagePrice, false);
                //productQuantity.index = i;
            }

            var deleteButts = document.getElementsByClassName("remRow");

            for (i = 0; i < deleteButts.length; i++)
            {
                deleteButts[i].addEventListener('click', calculatePackagePrice, false);
            }

        }

        function attachValueChangeEventsToNewField(index) {
           // console.log("index: " + index);

           // console.log(this);

            var selectProducts = document.getElementsByName("NewLiensProduitPackage[" + index + "].ProductId");

           // console.log(selectProducts);

            var selectProduct = selectProducts[0];
            selectProduct.addEventListener('change', calculatePackagePrice, false);

            var productQuantitys = document.getElementsByName("NewLiensProduitPackage[" + index + "].Quantity");

            var quantity = productQuantitys[0];
            quantity.addEventListener('change', calculatePackagePrice, false);

            var deleteButts = document.getElementsByClassName("remRow");

            for (i = 0; i < deleteButts.length; i++) {
                deleteButts[i].addEventListener('click', calculatePackagePrice, false);
            }
        }

        function calculatePackagePrice() {
            var discountField = document.getElementById("pack-discount");
            var discount = discountField.value;
            console.log("apply discount : " + discount);
            console.log(discount);

            var rowCount = $('.productRow').length - 1;
            var total = 0;
            var allProducts = document.getElementsByClassName("productName");
            var allQuantities = document.getElementsByClassName("productQuantity");
            console.log("Counting!");
            for (i = 0; i < allProducts.length; i++) {
                console.log("i is: " + i + "... ");
                var productDropDownList = allProducts[i];
                console.log(productDropDownList);

                if (productDropDownList != null) {
                    var selectedIndex = productDropDownList.selectedIndex;
                }
                var quantityTest = allQuantities[i];

                var price;
                var quantity;

                if (selectedIndex != undefined && quantityTest != undefined) {
                    //console.log(selectedIndex);
                    var hiddenDropdownList = document.getElementById("hiddenproductDropDownList");
                    price = hiddenDropdownList.options[selectedIndex].text;
                    // console.log(price);
                    quantity = quantityTest.value;
                    // console.log(quantity);
                    total += quantity * price;
                }
            }

            if (discount != 0 && discount != null && discountField.readOnly == false) {
                total -= (total * (discount / 100));

            }
            console.log("total = " + total);
            total = total.toFixed(2);
            var totalTxtField = document.getElementById("pack-price").value = total;
        }

        function EnableorDisableDiscount()
        {
            var priceInput = document.getElementById("pack-price");
            var discountInput = document.getElementById("pack-discount");
            var chkBox = document.getElementById("chkDiscount");
            if (chkBox.checked == true)
            {
                priceInput.readOnly = true;
                priceInput.style.color = "#c0c0c0";
                discountInput.readOnly = false;
                discountInput.style.color = "#050505";
            }
            else {
                priceInput.readOnly = false;
                priceInput.style.color = "#050505";
                discountInput.readOnly = true;
                discountInput.style.color = "#c0c0c0";
            }
            calculatePackagePrice();
        }



    </script>


}
