﻿@model SpekSkates.Admin.Web.Modules.Package.Package

@{
    ViewData["Title"] = "Supprimer";
}

<h2>Supprimer</h2>

<h3>Voulez-vous vraiment supprimer ce package?</h3>
<div>
    <h4>Package</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Name)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Name)
        </dd>
    </dl>

    <form asp-action="Delete">
        <input type="hidden" asp-for="Id" />
        <input type="submit" value="Supprimer" class="btn btn-default" /> |
        <a asp-action="Index">Retour à l'index</a>
    </form>
</div>
