﻿@model SpekSkates.Admin.Web.Modules.Package.ViewModels.ViewModelPackage

@{
    ViewData["Title"] = "Modifier";
}

<h2>Modifier</h2>

<h4>Package</h4>
@if (Model.errorMessage != "")
{
    <div class="text-danger">@Model.errorMessage</div>
}
<hr />
<div class="row">
    <form asp-action="Edit" enctype="multipart/form-data">
    <div class="col-md-6">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="Package.Id" />
            <input type="hidden" asp-for="Package.ImagePath" />
            <input type="hidden" asp-for="Package.isActive" />
            <input type="hidden" asp-for="Package.isDelete" />

            <div class="col-md-12">
                <label asp-for="Package.Name" class="control-label"></label>
                <input asp-for="Package.Name" class="form-control" />
                <span asp-validation-for="Package.Name" class="text-danger"></span>
            </div>

            <div class="col-md-12">
                <label asp-for="Package.codeProduit" class="control-label"></label>
                <input asp-for="Package.codeProduit" class="form-control required" />
                <span asp-validation-for="Package.codeProduit" class="text-danger"></span>
            </div>

            <div class="col-md-12">
                <label asp-for="Package.isEnPromotion" class="control-label"></label>
                <input asp-for="Package.isEnPromotion" />
                <span asp-validation-for="Package.isEnPromotion" class="text-danger"></span>
            </div>

            <div class="col-md-12">
                <label asp-for="Package.isNonDisponible" class="control-label"></label>
                <input asp-for="Package.isNonDisponible" />
                <span asp-validation-for="Package.isNonDisponible" class="text-danger"></span>
            </div>

            <br />

            <div class="col-md-12">
                <p><strong>Image du package (Taille suggérée : 350px x 350px) :</strong></p>

                <input asp-for="File" type="file" name="file" />
                @if (!string.IsNullOrEmpty(Model.Package.ImagePath))
                {
                    <img src="@Model.Package.ImagePath" height="200px" width="200px" />

                    <a asp-action="DeleteImage"
                       asp-route-blobName="@Model.Package.ImagePath" asp-route-id="@Model.Package.Id">
                        Supprimer
                    </a>
                }
            </div>




           

            <div class="col-md-12">
                <label asp-for="Package.Price" class="control-label"></label>
                <input asp-for="Package.Price" class="form-control" id="pack-price" />
                <span asp-validation-for="Package.Price" class="text-danger"></span>
            </div>

            <div class="col-md-12">
                <label asp-for="Package.DiscountPercentage" class="control-label"></label>
                <input asp-for="Package.DiscountPercentage" class="form-control" id="pack-discount" />
                <span asp-validation-for="Package.DiscountPercentage" class="text-danger"></span>
            </div>


            <div class="col-md-12">
                <label asp-for="discountApplied">Appliquer le rabais : </label>
                <input id="chkDiscount" type="checkbox" asp-for="discountApplied" />
                <span asp-validation-for="discountApplied" />
            </div>

            <div class="form-group col-md-12">
                <input type="submit" value="Sauvegarder" class="btn btn-default" />
            </div>
    </div>
    <div class="col-lg-6">
        <div>
            <h4 class="col-md-12">Produits compris dans le package</h4>
        </div>


        <div class="col-md-12">
            <div id="productListOld">

                @if (Model.LiensInPackage != null)
                {
                    @for (int i = 0; i < Model.LiensInPackage.Count(); ++i)
                    {
                        <div class="productRowOld">
                            <span id="productName@(i)" class="productNameOld">@Html.DisplayFor(m => m.LiensInPackage[i].Product.Name, new { @name = "LiensInPackage[" + i + "].Product.Name" })</span>

                            @Html.TextBoxFor(m => m.LiensInPackage[i].Quantity, new { @class = "productQuantityOld", @name = "LiensInPackage[" + i + "].Quantity" })
                            <a href=" javascript:void(0);" class="remRowOld">Supprimer</a>

                            <div id="validationDiv">
                                @Html.ValidationMessageFor(model => Model.LiensInPackage[i].ProductId, null, new { @class = "text-danger" })
                                @Html.ValidationMessageFor(model => Model.LiensInPackage[i].Quantity, null, new { @class = "text-danger" })
                            </div>

                            @Html.HiddenFor(m => m.LiensInPackage[i].ProductId, new { @class = "hiddenProductId" })
                            @Html.HiddenFor(m => m.LiensInPackage[i])
                            @Html.HiddenFor(m => m.LiensInPackage[i].Product, new { @class = "hiddenProductId" })
                            @Html.HiddenFor(m => m.LiensInPackage[i].Id, new { @class = "hiddenLienId" })
                            @Html.HiddenFor(m => m.LiensInPackage[i].PackageId, new { })


                        </div>
                    }
                }
                else
                {
                    <p>Aucun produit à afficher</p>
                }
            </div>
            <br />
        </div>

        <div class="col-md-12">
            <h4>Ajouter des produits</h4>
            <p>
                <a href="javascript:void(0);" class="addRow btn btn-primary">Ajouter un produit</a>
            </p>

            <div id="productList" class="col-md-12">
                <div class="productRow">
                    @{
                        int max = Model.NewLiensProduitPackage.Count;
                        @for (int i = 0; i < max; i++)
                        {
                            <div class="productRow">
                                @Html.DropDownListFor(model => model.NewLiensProduitPackage[i].ProductId, Model.SelectListProduct, "Choisir un produit", new { @class = "productName", @name = "NewLiensProduitPackage[" + i + "].ProductId" })

                                @Html.TextBoxFor(model => model.NewLiensProduitPackage[i].Quantity, new { @class = "productQuantity", @name = "NewLiensProduitPackage[" + i + "].Quantity" })
                                <a href="javascript:void(0);" class="remRow">Supprimer</a>
                                <div id="validationDiv">
                                    @Html.ValidationMessageFor(model => Model.NewLiensProduitPackage[i].ProductId, null, new { @class = "text-danger" })
                                    @Html.ValidationMessageFor(model => Model.NewLiensProduitPackage[i].Quantity, null, new { @class = "text-danger" })

                                </div>
                            </div>

                        }
                    }
                </div>
            </div>
        </div>
        <br />
    </div>
    </form>

</div>



    <select id="hiddenproductDropDownListName" hidden="hidden">
        <option value="0">0</option>
        @foreach (var type in Model.HiddenSelectListProductName)
        {
            <option value="@type.Value">
                @type.Text
            </option>
        }
    </select>
    <input type="hidden" asp-for="HiddenSelectListProductName" />

<select id="hiddenproductDropDownListId" hidden="hidden">
    <option value="0">0</option>
    @foreach (var type in Model.HiddenSelectListProductId)
    {
        <option value="@type.Value">
            @type.Text
        </option>
    }
</select>

<select id="hiddenproductDropDownListNameDeactivated" hidden="hidden">
    <option value="0">0</option>
    @foreach (var type in Model.HiddenSelectListProductNameIncludingDeactivated)
    {
        <option value="@type.Value">
            @type.Text
        </option>
    }
</select>


<input type="hidden" asp-for="HiddenSelectListProductId" />



<br />
<div class="col-md-12">
    <a asp-action="Index">Retour à la liste</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
    <script type="text/javascript">

        EnableorDisableDiscount();
        var sorryForGlobalVariable = 1;
        var rowCount = $('.productRow').length;
        var rowCountOldg = $('.productRowOld').length;

        $(document).ready(function () {
            
            attachValueChangeEventsToExistingFields(rowCountOldg);

            $(".addRow").click(function () {
                // -1 to rowCount because when it's empty, length = 1
                var rowCount = $('.productRow').length - 1;
                $("#productList").append('<div class="productRow"><select id="NewLiensProduitPackage_' + rowCount + '__ProductId" name="NewLiensProduitPackage[' + rowCount + '].ProductId" class="productName"><option class="productSelect">Choisir un produit</option>@foreach (SelectListItem item in Model.SelectListProduct){<option value="@item.Value">@item.Text</option>}</select><input type="text" value="1" id="NewLiensProduitPackage_' + rowCount + '__Quantity" name="NewLiensProduitPackage[' + rowCount + '].Quantity" class="productQuantity";"/><a href="javascript:void(0);" class="remRow">Supprimer</a> <div id="NewLiensProduitPackage_'  + rowCount + '__ProductId-error" class="validationDiv"><span class="field-validation-valid text-danger valId" data-valmsg-for="NewLiensProduitPackage[' + rowCount + '].ProductId" data-valmsg-replace="true"></span><span class="field-validation-valid text-danger valQty" data-valmsg-for="NewLiensProduitPackage[' + rowCount + '].Quantity" data-valmsg-replace="true"></span></div ></div>');
                 attachValueChangeEventsToNewField(rowCount);
            });

        });

            $("#productList").on('click', '.remRow', function () {
                $(this).closest('.productRow').remove();

                $('.productName').each(function (index) {
                    $(this).attr('name', 'NewLiensProduitPackage[' + index + '].ProductId');
                });

                $('.productQuantity').each(function (index) {
                    $(this).attr('name', 'NewLiensProduitPackage[' + index + '].Quantity');
                });

                calculatePackagePrice();
            })

            $("#productListOld").on('click', '.remRowOld', function () {
                $(this).closest('.productRowOld').remove();

                $('.productNameOld').each(function (index) {
                    $(this).attr('name', 'LiensInPackage_' + index + '__Product.Name');
                });

                $('.productQuantityOld').each(function (index) {
                    $(this).attr('name', 'LiensInPackage[' + index + '].Quantity');
                });

                $('.hiddenProductId').each(function (index) {
                    $(this).attr('name', 'LiensInPackage[' + index + '].ProductId');
                });

                $('.hiddenLienId').each(function (index) {
                    $(this).attr('name', 'LiensInPackage[' + index + '].Id');
                });

                $('.hiddenLienInPackId').each(function (index) {
                    $(this).attr('name', 'LiensInPackage[' + index + '].Id');
                });

                calculatePackagePrice();

            })

            function attachValueChangeEventsToExistingFields(index) {
                var chk = document.getElementById("chkDiscount");
                var discountTxtField = document.getElementById("pack-discount");

                chk.addEventListener('change', EnableorDisableDiscount, false);
                discountTxtField.addEventListener('change', calculatePackagePrice, false);

                for (i = 0; i < index; i++) {
                    var selectProduct = document.getElementById("NewLiensProduitPackage_" + i + "__ProductId");
                    var productQuantity = document.getElementById("NewLiensProduitPackage_" + i + "__Quantity");

                    //console.log("Event attached! to i = " + i);

                    if (selectProduct != null) {
                        selectProduct.addEventListener('change', calculatePackagePrice, false);
                    }
                    //selectProduct.index = i;
                    if (productQuantity != null) {
                        productQuantity.addEventListener('change', calculatePackagePrice, false);
                    }
                    //productQuantity.index = i;
                }

                var quantitiesOld = document.getElementsByClassName("productQuantityOld");
                console.log("quantitiesOld = " + quantitiesOld.length);
                for (i = 0; i < quantitiesOld.length; i++){
                    quantitiesOld[i].addEventListener('change', calculatePackagePrice, false);
                    //console.log(quantitiesOld[i]);
                }

                var deleteButts = document.getElementsByClassName("remRow");

                for (i = 0; i < deleteButts.length; i++) {
                    deleteButts[i].addEventListener('click', calculatePackagePrice, false);
                }

            }

            function attachValueChangeEventsToNewField(index) {
                // console.log("index: " + index);

                // console.log(this);

                var selectProducts = document.getElementsByName("NewLiensProduitPackage[" + index + "].ProductId");

                // console.log(selectProducts);

                var selectProduct = selectProducts[0];
                selectProduct.addEventListener('change', calculatePackagePrice, false);

                var productQuantitys = document.getElementsByName("NewLiensProduitPackage[" + index + "].Quantity");

                var quantity = productQuantitys[0];
                quantity.addEventListener('change', calculatePackagePrice, false);

                var deleteButts = document.getElementsByClassName("remRow");

                for (i = 0; i < deleteButts.length; i++) {
                    deleteButts[i].addEventListener('click', calculatePackagePrice, false);
                }
            }

            function calculatePackagePrice() {
                var discountField = document.getElementById("pack-discount");
                var discount = discountField.value;
                // console.log("apply discount : " + discount);
                // console.log(discount);

                // new fields
                var rowCount = $('.productRow').length - 1;
                var total = 0;
                var allProducts = document.getElementsByClassName("productName");
                var allQuantities = document.getElementsByClassName("productQuantity");
                console.log("!                            !");
                console.log("***Counting new fields*** |");
                for (i = 0; i < allProducts.length; i++) {
                    console.log("i is: " + i + "... ");
                    var productDropDownList = allProducts[i];

                    var selectedIndex;
                    if (productDropDownList != null) {
                        selectedIndex = productDropDownList.selectedIndex;
                    }
                    var quantityTest = allQuantities[i];

                    var price;
                    var quantity;

                    if (selectedIndex != undefined && quantityTest != undefined) {
                        //console.log(selectedIndex);
                        var hiddenDropdownList = document.getElementById("hiddenproductDropDownListId");
                        price = hiddenDropdownList.options[selectedIndex].text;
                        // console.log(price);
                        quantity = quantityTest.value;
                         console.log("Adding this to total: " + quantity + " * " + price + " = " + quantity * price);
                        total += quantity * price;
                    }
                }
                console.log("|-- Done counting new fields.");
                console.log("- - -  -COUNTING OLD FIELDS -  - -- - |");
                //old fields
                var rowCountOld = $('.productRowOld').length;
                var allNames = document.getElementsByClassName("productNameOld");
                var allQuantities = document.getElementsByClassName("productQuantityOld");
                for (i = 0; i < allNames.length; i++) {
                    
                    var productNameSpan = allNames[i];
                    var productName;
                    if (productNameSpan != null) {
                        productName = productNameSpan.innerHTML;

                    }
                    console.log("old: i is: " + i + "... ");
                    // console.log(document.getElementById("productName" + i).innerHTML);

                    var quantityTest = allQuantities[i];

                    var price = 0;
                    var quantity;
                    //console.log(productName);
                    //console.log(quantityTest);
                    console.log("name = " + productName + ", quantityTest =  " + quantityTest);
                    if (productName != null && quantityTest != null) {
                        quantity = quantityTest.value;
                        //console.log("old qty = " + quantity);
                        var hiddenDropdownList = document.getElementById("hiddenproductDropDownListNameDeactivated");
                        //console.log("hiddendropdownlist = vvv");
                        //console.log(hiddenDropdownList);
                        var j = 0;
                        do {
                            if (hiddenDropdownList[j] != null) {
                                if (hiddenDropdownList[j].value == productName) {
                                    price = parseFloat(hiddenDropdownList[j].text);
                                }
                            }

                            j++;

                        } while (j < hiddenDropdownList.length && price == 0)

                        console.log("price: " + price + ", quantity = " + quantity);
                        //console.log("Product name : " + hiddenDropdownList[j].value);
                        console.log("added to total: " + quantity * price);
                        total += quantity * price;
                    }

                    console.log("old total at " +  i + " is now = " + i + " is " + total);

                }
                console.log("|- - - -- --done counting old ---- - - - -");
                
                if (discount != 0 && discount != null && discountField.readOnly == false) {
                    console.log("Applying discount of " + total * (discount / 100) + "$");
                    total -= (total * (discount / 100));

                }
                console.log("total = " + total);
                total = total.toFixed(2);
                var totalTxtField = document.getElementById("pack-price").value = total;
            }

            function EnableorDisableDiscount() {
                
                    var priceInput = document.getElementById("pack-price");
                    var discountInput = document.getElementById("pack-discount");
                    var chkBox = document.getElementById("chkDiscount");
                    if (chkBox.checked == true) {
                        priceInput.readOnly = true;
                        priceInput.style.color = "#c0c0c0";
                        discountInput.readOnly = false;
                        discountInput.style.color = "#050505";
                    }
                    else {
                        priceInput.readOnly = false;
                        priceInput.style.color = "#050505";
                        discountInput.readOnly = true;
                        discountInput.style.color = "#c0c0c0";
                    }
                    
                    //if (sorryForGlobalVariable != undefined) {
                        calculatePackagePrice();
               // }
            }
       

    </script>
}
