﻿@model IEnumerable<SpekSkates.Admin.Web.Modules.Package.Package>

@{
    ViewData["Title"] = "Index";
}

<h2>Index</h2>

<p>
    <a asp-action="Create">Créer un Package</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Name)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Name)
                </td>
                <td>
                    <a asp-action="Edit" asp-route-id="@item.Id">Modifier</a>
                </td>

                <td>
                    @if (item.isActive)
                    {
                        <a asp-action="UnActive" asp-route-id="@item.Id">Désactiver</a>
                    }
                    else
                    {
                        <a asp-action="Active" asp-route-id="@item.Id">Activer</a>
                    }
                </td>

                <td>

                    <a asp-action="Delete" asp-route-id="@item.Id">Supprimer</a>


                </td>
            </tr>
        }
    </tbody>
</table>
