
<template>
  <div id="aboutus">

    <h2>{{page.name}}</h2>

    <div v-html="page.introductionText" class="txt"></div>

    <div v-if="page.imagePath1 != null || page.imagePath2 != null || page.imagePath3 != null">
    <b-carousel v-if="isLoaded" id="carousel1"
                style="text-shadow: 1px 1px 2px #333;"
                controls
                indicators
                background="#ababab"
                :interval="4000"
                v-model="slide"
                @sliding-start="onSlideStart"
                @sliding-end="onSlideEnd"
    >

      <b-carousel-slide v-if="page.imagePath1" v-bind:img-src="page.imagePath1">
      </b-carousel-slide>

      <b-carousel-slide  v-if='page.imagePath2' v-bind:img-src="page.imagePath2">
      </b-carousel-slide>

      <b-carousel-slide v-if="page.imagePath3" v-bind:img-src="page.imagePath3">
      </b-carousel-slide>

    </b-carousel>

  </div>

    <div v-html="page.content" class="txt"></div>

    <h2>Notre équipe</h2>

    <b-container class="employees">
      <b-row class="justify-content-md-center text-center">
        <div v-for="employee in team" :key="employee.id">               
          <b-col>
            <b-img  fluid v-bind:src="employee.imagePath" />
  
            <h3>{{employee.name}}</h3>
            <p class="desc" fluid v-html="employee.description"></p>
          </b-col>
        </div>
      </b-row>
    </b-container>

    
    </div>

</template>


<script>
import callApi from '@/components/config.js'
export default {
  name: 'About',
  data () {
    return {
      page :{},
      team:{},
      slide: 0,
      sliding: null,
    }
  },
  computed:{
      isLoaded: function(){
          if(this.page.imagePath1 != null || this.page.imagePath2 != null || this.page.imagePath3 != null){
            return true;
        }
        return false;
      }
    },
  mounted: function() {
    this.callApiAboutUsContent();
    this.callApiTeam();
  },
  watch:{
    '$route': function(){
      this.callApiAboutUsContent();
      this.callApiTeam();
    }
  },
  methods: {
    isload(){
          if(this.page.imagePath1 != null || page.imagePath2 != null || page.imagePath3 != null){
          return true;
        }
        return false;
      },
      onSlideStart(slide) {
          this.sliding = true;
      },
      onSlideEnd(slide) {
          this.sliding = false;
      },
    callApiAboutUsContent(){
       var pageName = "Default";

        if(this.$route.name != "About")
        {
          pageName = 'Custom'+ this.$route.name;

        }

        var self = this;
        let xhr = new XMLHttpRequest(),
        method = 'GET',
        url = callApi.callApi + '/api/apiAbout/'+ pageName;

        xhr.open(method, url, true);
        xhr.onreadystatechange = function() {
          if (xhr.readyState === XMLHttpRequest.DONE) {
              console.dir(xhr);
              if (xhr.status === 200) {
              var test = (JSON.parse(xhr.responseText).value);
              self.page = test;

              self.image1 = test['ImagePath1'];
              self.image2 = test['ImagePath2'];
              self.image3 = test['ImagePath3'];

              self.pageTitle = test.PageTitle;
            }
          }
        };
        xhr.send();
      },
      callApiTeam(){
        var self = this;
         let xhr2 = new XMLHttpRequest(),
          method2 = 'GET',
          url2 = callApi.callApi + '/api/apiEmployee';

          xhr2.open(method2, url2, true);
          xhr2.onreadystatechange = function() {
            if (xhr2.readyState === XMLHttpRequest.DONE) {
              if (xhr2.status === 200) {
                    self.team = JSON.parse(xhr2.responseText).value;
                    console.log(self.team);
              };
            }
          };
          xhr2.send();

      }
    }
};




</script>

<style>
a{
  decoration: none;
  color: #fff;
  text-align: center;
}

a:hover{
  color: #fff;
}
.txt{
  margin: 80px;
}

h2{
  margin-bottom: 25px;
}

h3{
  margin: 25px 0 15px 0;

}

.desc{
  width: 350px;
  margin-bottom: 50px;
}

.employees{
  max-width:2000px;

}
</style>