<template>
<div>
    <div class="alert alert-success" v-if="messageShare">
        <strong>Ajouté au panier, voici le lien pour partager votre skate personnalisé: </strong> <a style="color:green;" :href="messageShare">{{messageShare}}</a>
    </div>
</div>
</template>

<script>
import callApi from '@/components/config.js'

export default {
  name: 'boardCustom',
  data () {
    return {
        messageShare: "",
    }
  },
  mounted: function() {
      if(this.$route.params.id != undefined){
          this.messageShare = callApi.clientUrl + "/BoardCustom/" + this.$route.params.id 
        }
  },
  
};




</script>

<style>
a{
  decoration: none;
  color: #fff;
  text-align: center;
}

a:hover{
  color: #fff;
}
span.error{
  color:#e74c3c;
  font-size:20px;
  display:flex;
  justify-content:center;
}

#image
{
display:inline-block;
float: left;
}
#infoArticle{
display:inline-block;
float: left;
}
#HistEtDesc{
clear:both;
margin-left:50px;
}
</style>
