<template>
<div>
    <div class="alert alert-success" v-if="messageShare">
        <strong>Ajouté au panier, voici le lien pour partager votre skate personnalisé: </strong> <a :href="messageShare">{{messageShare}}</a>
    </div>
<form-wizard @on-complete="onComplete" title="Personnaliser votre planche"
                      v-bind:subtitle="'Prix de votre planche : '+cummulPrice +'$'"
                      shape="tab"
                      back-button-text="Précédent"
                      next-button-text="Suivant"
                      finish-button-text="Ajouter au panier">
    <tab-content title="Planche" :before-change="validateBoard">
  
        <h3>Sélectionner votre planche :</h3>
        <select v-model="selectedBoard" id="planche">
                <option v-for="board in boards" v-bind:value="board" :index="board.id">
                    {{ board.name }}
                </option>
        </select>
        <div v-if='selectedBoard != null && selectedBoard.imagePath != null'>
            <img v-bind:src='selectedBoard.imagePath' height="200px" width="200px" style="margin: 10px 50px;">
        </div>
        <div v-if='selectedBoard != null && selectedBoard.boardStyleImagePath ==null && selectedBoard.name != null'>
        <h3>Téléverser votre style de planche :</h3>
        <input type="file" @change="onFileChange">
        <img :src="imagePath" />
        <button v-if="imagePath" @click="removeImage">Supprimer l'image</button>
        </div>
    </tab-content>

    <tab-content title="Grip tape" :before-change="validateGripTape">
  
        <h3>Sélectionner votre grip tape :</h3>
        <select v-model="selectedGripTape" id="beiring">
                <option v-for="griptape in griptapes" v-bind:value="griptape">
                    {{ griptape.name }}
                </option>
        </select>
        <div v-if='selectedGripTape != null && selectedGripTape.imagePath != null'>
            <img v-bind:src='selectedGripTape.imagePath' height="200px" width="200px" style="margin: 10px 50px;">
        </div>

    </tab-content>

    <tab-content title="Trucks" :before-change="validateTrucks">
        <div>
            <h3>Sélectionner vos trucks :</h3>
            <select v-model="selectedTruck">
                    <option v-for="truck in trucks" v-bind:value="truck">
                        {{ truck.name }}
                    </option>
            </select>
            
            <div v-if='selectedTruck != null && selectedTruck.imagePath != null'>
                <img v-bind:src='selectedTruck.imagePath' height="200px" width="200px" style="margin: 10px 50px;">
            </div>

            <select v-if='checked2Trucks' v-model="selectedTruck2">
                    <option v-for="truck in trucks" v-bind:value="truck">
                        {{ truck.name }}
                    </option>
            </select>

            <div v-if='selectedTruck2 != null && selectedTruck2.imagePath != null'>
                <img v-bind:src='selectedTruck2.imagePath' height="200px" width="200px" style="margin: 10px 50px;">
            </div>

            <p>Trucks différents : <input type="checkbox" id="checkbox" v-model="checked2Trucks"></p>    
        </div>
    </tab-content>

    <tab-content title="Roues"  :before-change="validateWheels">
        <div>
        <h3>Sélectionner vos roues :</h3>
            <select v-model="selectedWheel">
                    <option v-for="wheel in wheels" v-bind:value="wheel">
                        {{ wheel.name }}
                    </option>
            </select>

            <div v-if='selectedWheel != null && selectedWheel.imagePath != null'>
                <img v-bind:src='selectedWheel.imagePath' height="200px" width="200px" style="margin: 10px 50px;">
            </div>

            <div v-if='checked4Wheels'>
                <select v-model="selectedWheel2">
                        <option v-for="wheel in wheels" v-bind:value="wheel">
                            {{ wheel.name }}
                        </option>
                </select>

                <div v-if='selectedWheel2 != null  && selectedWheel2.imagePath != null'>
                    <img v-bind:src='selectedWheel2.imagePath' height="200px" width="200px" style="margin: 10px 50px;">
                </div>

                <select v-model="selectedWheel3">
                        <option v-for="wheel in wheels" v-bind:value="wheel">
                            {{ wheel.name }}
                        </option>
                </select>

                <div v-if='selectedWheel3 != null && selectedWheel3.imagePath != null'>
                    <img v-bind:src='selectedWheel3.imagePath' height="200px" width="200px" style="margin: 10px 50px;">
                </div>

                <select v-model="selectedWheel4">
                        <option v-for="wheel in wheels" v-bind:value="wheel">
                            {{ wheel.name }}
                        </option>
                </select>

                <div v-if='selectedWheel4 != null && selectedWheel4.imagePath != null'>
                    <img v-bind:src='selectedWheel4.imagePath' height="200px" width="200px" style="margin: 10px 50px;">
                </div>
            </div>

            <p>Roues différentes : <input type="checkbox" id="checkbox" v-model="checked4Wheels"></p>

            
        </div>
    </tab-content>

    <tab-content title="Beirings" :before-change="validateBeirings">
  
        <h3>Sélectionner vos beirings :</h3>
        <select v-model="selectedBeiring" id="beiring">
                <option v-for="beiring in beirings" v-bind:value="beiring">
                    {{ beiring.name }}
                </option>
        </select>
        <div v-if='selectedBeiring != null && selectedBeiring.imagePath != null'>
            <img v-bind:src='selectedBeiring.imagePath' height="200px" width="200px" style="margin: 10px 50px;">
        </div>

    </tab-content>
            
</form-wizard>
<span class="error">{{msgerror}}</span> 


<div style="display: none;" id="snipdiv">
    
</div>
</div>

</template>

<script>
import callApi from '@/components/config.js'

export default {
  name: 'boardCustom',
  data () {
    return {
        fillWithApi: true,
        messageShare: "",
        customCreated: false,
        info: {},
        customBoard:{
            id: "custom",
            name: "custom",
            price: 0,
            url : "custom",
            desc: "",
        },
        category: '',
        imagePath: '',
        finishButtonText: "Ajouter au panier",
        checked4Wheels:false,
        checked2Trucks: false,
        selectedBoard: {},
        selectedGripTape: {},
        selectedTruck: {},
        selectedTruck2: {},
        selectedWheel: {},
        selectedWheel2: {},
        selectedWheel3: {},
        selectedWheel4: {},
        selectedBeiring: {},
        boards :{},
        griptapes : {},
        trucks: {},
        wheels: {},
        beirings :{},
        msgerror: '',
    }
  },
  watch:{
    info: function(){
        console.log(this.info)
        var btn = document.createElement("BUTTON");
        btn.setAttribute("class", "snipcart-add-item");
        btn.setAttribute("data-item-id", this.info.id);
        btn.setAttribute("data-item-name", this.info.name);
        btn.setAttribute("data-item-price", this.info.price);
        btn.setAttribute("data-item-url",  this.$ngrok + '/api/ApiSnip/GetDetailCustom/' + this.info.name.replace('#!/',''));
        btn.setAttribute("data-item-description", "[Partager: "+ callApi.clientUrl + "/BoardCustom/" + this.info.name + ", " + this.info.desc);
        document.getElementById("snipdiv").appendChild(btn);
        btn.click();
        this.selectedBoard = {}
        this.checked4Wheels=false
        this.checked2Trucks=false

        this.$router.push({name: 'completeboard', params: { id: this.info.name }})
    },
    selectedBoard: function(val){
        if(val != undefined){
            this.getItemRelated(val.productCategoryId);
                this.selectedGri = null;
                this.selectedTruck= null;
                this.selectedTruck2= null;
                this.selectedWheel= null;
                this.selectedWheel2= null;
                this.selectedWheel3= null;
                this.selectedWheel4= null;
        }
    },
    selectedWheel: function(val){
        if(val != undefined){
            this.getBeiring(val.productCategoryId);
            this.selectedBeiring= null;
        }

    }
  },
  methods:{
    getItemRelated: function(id, callback){
    var self = this;
        let xhr = new XMLHttpRequest(),
        method = 'GET',
        url = callApi.callApi + "/api/apiBoardCustom/GetListProductRelatedToBoardCategory/" + id;
        console.log(url);
        xhr.open(method, url, true);
        xhr.onreadystatechange = function() {
        if (xhr.readyState === XMLHttpRequest.DONE) {
            console.dir(xhr);
            if (xhr.status === 200) {
            var test = JSON.parse(xhr.responseText)["value"];
            self.wheels = test.wheels;
            self.trucks = test.trucks;
            self.griptapes = test.gripTapes;
            callback(true)
        };
        }
    };
        xhr.send();
    },
    getBeiring: function(id, callback){
    var self = this;
        let xhr = new XMLHttpRequest(),
        method = 'GET',
        url = callApi.callApi + "/api/apiBoardCustom/GetListBeiringsRelatedToWheel/" + id;
        console.log(url);
        xhr.open(method, url, true);
        xhr.onreadystatechange = function() {
        if (xhr.readyState === XMLHttpRequest.DONE) {
            console.dir(xhr);
            if (xhr.status === 200) {
            var test = JSON.parse(xhr.responseText)["value"];
            self.beirings = test;
            callback(true)
        };
        }
    };
        xhr.send();
    },
    createBoard: function() {
        var self = this;
        var params = "price="+ this.customBoard.price +"&desc=" + this.customBoard.desc;
        params += "&boardId=" + this.selectedBoard.id
        params += "&gripTapeId=" + this.selectedGripTape.id
        params += "&truckId=" + this.selectedTruck.id
        if(this.checked2Trucks){
            params += "&truck2Id=" + this.selectedTruck2.id
        }
        params += "&wheelId=" + this.selectedWheel.id
        if(this.checked4Wheels){ 
            params += "&wheel2Id=" + this.selectedWheel2.id
            params += "&wheel3Id=" + this.selectedWheel3.id
            params += "&wheel4Id=" + this.selectedWheel4.id
        }
        params += "&beiringId=" + this.selectedBeiring.id

        let xhr = new XMLHttpRequest(),
        method = 'POST',
        url = callApi.callApi + "/api/ApiSnip/Custom";
        xhr.open(method, url, true);
        xhr.setRequestHeader("Content-type", "application/x-www-form-urlencoded");
        xhr.onreadystatechange = function() {
            if (xhr.readyState === XMLHttpRequest.DONE) {
                if (xhr.status === 200) {
                    self.info = JSON.parse(xhr.responseText)
            };
        }
        };
        xhr.send(params);
    },
    onComplete: function(){
        
        this.customBoard.desc += "[Board: " + this.selectedBoard.name + "], "
        this.customBoard.desc += "[Grip: " + this.selectedGripTape.name + "], "
        this.customBoard.desc += "[Truck #1: " + this.selectedTruck.name + "], "

        if(this.checked2Trucks){
            this.customBoard.desc += "[Truck #2: " + this.selectedTruck2.name + "], "
        }

        this.customBoard.desc += "[Roue #1: " + this.selectedWheel.name + "], "
        if(this.checked4Wheels){ 
            this.customBoard.desc += "[Roue #2: " + this.selectedWheel2.name + "], "
            this.customBoard.desc += "[Roue #3: " + this.selectedWheel3.name + "], "
           this.customBoard.desc += "[Roue #4: " + this.selectedWheel4.name + "], "
        }

        this.customBoard.desc += "[Beiring: " + this.selectedBeiring.name + "], "
        this.createBoard()


        this.$cookies.set("number", parseInt(this.$cookies.get("number")) + 1)
                      
    },
    validateBoard:function() {
        if(this.selectedBoard != undefined){
            this.msgerror = ''
            return true;
        }
        this.msgerror = 'Vous devez choisir une planche pour continuer..';
        return false
    },
    validateGripTape:function() {
        if(this.selectedGripTape != undefined){
            this.msgerror = ''
            return true;
        }
        this.msgerror = 'Vous devez choisir un grip tape pour continuer..';
        return false
    },
    validateTrucks:function() {
        if(this.selectedTruck != undefined){
            this.msgerror = ''
            if(this.checked2Trucks == true && this.selectedTruck2 == undefined){
                 this.msgerror = 'Vous devez selectionner deux trucks pour continuer..'
                 return false;
            }
            return true;
        }
        this.msgerror = 'Vous devez choisir un trucks pour continuer..';
        return false
    },
    validateWheels:function() {
        if(this.selectedWheel != undefined){
            this.msgerror = ''
            if(this.checked4Wheels && (this.selectedWheel2 == undefined || this.selectedWheel3 == undefined || this.selectedWheel4 == undefined)){
                 this.msgerror = 'Vous devez selectionner 4 roues pour continuer..'
                 return false;
            }
          
            return true;
        }
        this.msgerror = 'Vous devez choisir des roues pour continuer..';
        return false
    },
    validateBeirings:function() {
        if(this.selectedBeiring != undefined){
            this.msgerror = ''
            return true;
        }
        this.msgerror = 'Vous devez choisir un beirings pour continuer..';
        return false
    },
    onFileChange(e) {
      var files = e.target.files || e.dataTransfer.files;
      if (!files.length)
        return;
      this.createImage(files[0]);
    },
    createImage(file) {
      var imagePath = new Image();
      var reader = new FileReader();
      var vm = this;

      reader.onload = (e) => {
        vm.imagePath = e.target.result;
      };
      reader.readAsDataURL(file);
    },
    removeImage: function (e) {
      this.imagePath = '';
    },
    getObject: function(obj){
          var self = this;
          this.fillWithApi = true
        this.callApiForProduct(obj.boardId, function(callback){
            self.selectedBoard = callback
            self.getItemRelated(self.selectedBoard.productCategoryId, function(callback){
                self.callApiForProduct(obj.gripTapeId, function(callback2){
                self.selectedGripTape = callback2
            })

            self.callApiForProduct(obj.truckId, function(callback2){
                self.selectedTruck = callback2
                
            })

            if(obj.truck2Id != 0){
                self.callApiForProduct(obj.truck2Id, function(callback2){
                    self.selectedTruck2 = callback2
                     self.checked2Trucks = true
                })
            }
            
            self.callApiForProduct(obj.wheelId, function(callback2){
                self.selectedWheel = callback2
                    self.getBeiring(self.selectedWheel.productCategoryId, function(callback3){
                        self.callApiForProduct(obj.beiringId, function(callback4){
                        self.selectedBeiring = callback4
                    })
                })
            })

            if(obj.wheel2Id != 0){
                self.callApiForProduct(obj.wheel2Id, function(callback2){
                    self.selectedWheel2 = callback2
                    self.checked4Wheels = true
                })
            }
            
            if(obj.wheel3Id != 0){
                self.callApiForProduct(obj.wheel3Id, function(callback2){
                    self.selectedWheel3 = callback2
                    
                })
            }
            if(obj.wheel4Id != 0){
                self.callApiForProduct(obj.wheel4Id, function(callback2){
                    self.selectedWheel4 = callback2
                    
                })
            }

            });     
        })

        



        // document.getElementById('planche').querySelectorAll('[index="'+ callback.id+'"]')[0].setAttribute("selected", "selected");
    },
    callApiForProduct:function(id, callback){
          var self = this;
        let xhr = new XMLHttpRequest(),
        method = 'GET',
        url = callApi.callApi + "/api/apiDetailProduit/GetProduct/" + id;
        console.log(url);
            xhr.open(method, url, true);
            xhr.onreadystatechange = function() {
            if (xhr.readyState === XMLHttpRequest.DONE) {
                console.dir(xhr);
                if (xhr.status === 200) {
                    callback(JSON.parse(xhr.responseText)["value"]);
                };
            }
        };
        xhr.send();
    }
  },
  computed: {
    cummulPrice: function () {
        var count = 0;
        if(this.selectedBoard != null && this.selectedBoard.price != null){
            if(this.selectedBoard.isEnPromotion){
                count += this.selectedBoard.promotionPrice;
            }else{
                count += this.selectedBoard.price;
            }
        }
        if(this.selectedTruck != null && this.selectedTruck.price != null){
            if(this.selectedTruck.isEnPromotion){
                count += this.selectedTruck.promotionPrice * 2;
            }else{
                count += this.selectedTruck.price * 2;
            }
        }
        if(this.checked2Trucks){
            if(this.selectedTruck.isEnPromotion){
                count -= this.selectedTruck.promotionPrice;
            }else{
                count -= this.selectedTruck.price;
            }

            if(this.selectedTruck2 != null && this.selectedTruck2.price != null){
                if(this.selectedTruck2.isEnPromotion){
                    count += this.selectedTruck2.promotionPrice;
                }else{
                    count += this.selectedTruck2.price;
                }
            }  
        }
        if(this.selectedWheel != null && this.selectedWheel.price != null){
            if(this.selectedWheel.isEnPromotion){
                count += this.selectedWheel.promotionPrice * 4;
            }else{
                count += this.selectedWheel.price * 4;
            }
        }
        if(this.checked4Wheels){
            if(this.selectedWheel.isEnPromotion){
                count -= this.selectedWheel.promotionPrice * 3;
            }else{
                count -= this.selectedWheel.price * 3;
            }

            if(this.selectedWheel2 != null && this.selectedWheel2.price != null){
                if(this.selectedWheel2.isEnPromotion){
                    count += this.selectedWheel2.promotionPrice;
                }else{
                    count += this.selectedWheel2.price;
                }
            }
            if(this.selectedWheel3 != null && this.selectedWheel3.price != null){
                if(this.selectedWheel3.isEnPromotion){
                    count += this.selectedWheel3.promotionPrice;
                }else{
                    count += this.selectedWheel3.price;
                }
            }
            if(this.selectedWheel4 != null && this.selectedWheel4.price != null){
                if(this.selectedWheel4.isEnPromotion){
                    count += this.selectedWheel4.promotionPrice;
                }else{
                    count += this.selectedWheel4.price;
                }
            }
        }
        if(this.selectedGripTape != null && this.selectedGripTape.price != null){
            if(this.selectedGripTape.isEnPromotion){
                count += this.selectedGripTape.promotionPrice;
            }else{
                count += this.selectedGripTape.price;
            }
        }
        if(this.selectedBeiring != null && this.selectedBeiring.price != null){
            if(this.selectedBeiring.isEnPromotion){
                count += this.selectedBeiring.promotionPrice * 4;
            }else{
                count += this.selectedBeiring.price * 4;
            }
        }
        var count = count.toFixed(2)
        this.customBoard.price = count
      return  count;
    }},
  mounted: function() {
              var self = this;


      if(!this.$cookies.isKey("number")){
        this.$cookies.set("number", 1)
      }
      this.category = 'skate custom #' + this.$cookies.get("number");

        let xhr = new XMLHttpRequest(),
      method = 'GET',
      url = callApi.callApi + "/api/apiBoardCustom/GetListProduct/";
        xhr.open(method, url, true);
        xhr.onreadystatechange = function() {
        if (xhr.readyState === XMLHttpRequest.DONE) {
            console.dir(xhr);
            if (xhr.status === 200) {
            var test = JSON.parse(xhr.responseText)["value"];
            self.boards = test;
                };
        }
        };
        xhr.send();


        if(this.$route.params.id != undefined){
          
        let xhr = new XMLHttpRequest(),
        method = 'GET',
        url = callApi.callApi + "/api/ApiSnip/GetDetailCustom/" + this.$route.params.id;
        xhr.open(method, url, true);
        xhr.onreadystatechange = function() {
        if (xhr.readyState === XMLHttpRequest.DONE) {
            console.dir(xhr);
            if (xhr.status === 200) {
            var obj = JSON.parse(xhr.responseText);
                self.getObject(obj)
            };
        }
        };
        xhr.send();
      }


  },
  
};




</script>

<style>
a{
  decoration: none;
  color: #fff;
  text-align: center;
}

a:hover{
  color: #fff;
}
span.error{
  color:#e74c3c;
  font-size:20px;
  display:flex;
  justify-content:center;
}

#image
{
display:inline-block;
float: left;
}
#infoArticle{
display:inline-block;
float: left;
}
#HistEtDesc{
clear:both;
margin-left:50px;
}
</style>
