<template>
  <div id="contact">
    <h2>{{page.name}}</h2>

  <div v-html="page.content" class="txt"></div>

  <p class="mail">Contactez-nous à cette adresse : <a v-link=""></a>noreply@spekskates.com</p>
  <my-component></my-component>
</div>
</template>

<script>
import callApi from '@/components/config.js'
export default {
  name: 'About',
  data () {
    return {
      page :{}
    }
  },
  watch:{
    '$route': function(){
      this.callApiContactContent();
    }
  },
  mounted: function() {
    this.callApiContactContent();
  },
  methods: {
    callApiContactContent(){
       var pageName = "Default";
        if(this.$route.name != "contact")
        {
          pageName = 'Custom'+ this.$route.name;
        }
    
        var self = this;
        let xhr = new XMLHttpRequest(),
        method = 'GET',
        url = callApi.callApi + '/api/apiContact/'+ pageName;

        xhr.open(method, url, true);
        xhr.onreadystatechange = function() {
          if (xhr.readyState === XMLHttpRequest.DONE) {
            console.dir(xhr);
            if (xhr.status === 200) {
              self.page = (JSON.parse(xhr.responseText).value);
            }
          }
        };

        xhr.send();
        }
    }
  }


function JsonText(json ){
  var texte = JSON.parse(json)["Content"]

  return texte
}

</script>

<style>
a{
  decoration: none;
  color: #fff;
  text-align: center;
}

a:hover{
  color: #fff;
}
.txt{
  margin: 80px;
}
.mail{
  margin-left: 80px;
}
.right{
  float: right;
}
</style>