<template>
<div>
<div id ="image">
<img v-bind:src='article.imagePath' height="200px" width="200px" style="margin: 10px 50px;">
</div>
<div id="infoArticle">

<p>
Nom : {{article.name}}
</p>

<p>
Categorie : {{article.productCategory.name}}
</p>

<p>
Grandeur : {{article.productSize.name}}
</p>

<p>
Shape : {{article.productShape.name}}
</p>

<p v-if="!article.isEnPromotion">
Prix : {{article.price}}
</p>
<p v-if="article.isEnPromotion">
Prix : {{article.promotionPrice}}
</p>
</div>

<div id="HistEtDesc">

<p>
Description:
<br/>
{{article.description}}
</p>

<p>
Histoire:
<br/>
{{article.history}}
</p>

<p v-if="article.isKicktail">Ce produit possède un kicktail</p>

<p>Ce produit est <span v-if="article.isNonDisponible">non-disponible :(</span> <span v-else> disponible</span></p>

<button
    class="snipcart-add-item"
    v-bind:data-item-id="article.id + 'product'"
    v-bind:data-item-name="article.name"
    v-bind:data-item-price="article.productSizeId != undefined && article.isEnPromotion ? article.promotionPrice : article.price"
    v-bind:data-item-weight="20"
    v-bind:data-item-url="this.$ngrok + '/api/ApiSnip/' + this.$route.fullPath.replace('/detailsProduit/','').replace('#!/','')"
    v-bind:data-item-description= "article.description">
        <span class="glyphicon glyphicon-shopping-cart"></span> Acheter
</button>

</div>

</div>
</template>



<script>
console.log((window.location.pathname).replace('/detailsProduit/',''))
console.log("test")
import callApi from '@/components/config.js' 
console.log(callApi.callApi + '/api/ApiSnip/' + (window.location.pathname).replace('/detailsProduit/',''))
console.log("1")
export default {
  name: 'details',
  data () {
    return {
      article :{}

    }
  },
  mounted: function() {
  var self = this;

    var productName = this.$route.params["name"];

    let xhr = new XMLHttpRequest(),
      method = 'GET',
      url = callApi.callApi + "/api/apiDetailProduit/" + productName;
      console.log(url);
    xhr.open(method, url, true);
    xhr.onreadystatechange = function() {
      if (xhr.readyState === XMLHttpRequest.DONE) {
        console.dir(xhr);
        if (xhr.status === 200) {
          var test = JSON.parse(xhr.responseText)["value"];
          self.article = test;
          };
      }
    };
    xhr.send();
  },
};




</script>

<style>
#image
{
display:inline-block;
float: left;
}
#infoArticle{
display:inline-block;
float: left;
}
#HistEtDesc{
clear:both;
margin-left:50px;
}
</style>
