<template>
<div>
<h2>{{article.name}}</h2>
<div id ="image">
<img v-bind:src='article.imagePath' height="200px" width="200px" style="margin: 10px 50px;">
</div>
<div id="infoArticle">

  <p>
 <span class="bold"> Prix :</span> {{article.price}}$
  </p>

  <h4>Produits inclus</h4>

  <div v-for="lien in article.lstLienProduitPackage">
      Id produit : {{lien.productId}}
      </br />
      Nom : <a v-bind:href="'/detailsProduit/' + lien.product.name">{{lien.product.name}}</a>
      <br />
      <br />
  </div>

</div>

<div id="HistEtDesc">

<p>
<span class="bold">Description :</span>
<br/>
<span class="longDesc">{{article.description}}</span>
</p>

<p>
<span class="bold">Histoire :</span>
<br/>
<span class="longDesc">{{article.history}}</span>
</p>

<p v-if="article.isKicktail">Ce produit possède un kicktail</p>

<p>Ce package est <span v-if="article.isNonDisponible">non-disponible :(</span> <span v-else> disponible</span></p>

<button
    class="snipcart-add-item"
    variant="danger"
    v-bind:data-item-id="article.id + 'package'"
    v-bind:data-item-name="article.name"
    v-bind:data-item-price="article.price"
    v-bind:data-item-weight="20"
    v-bind:data-item-url="this.$ngrok + '/api/ApiSnip/' + this.$route.fullPath.replace('/detailsPackage/','/GetPackageJson/').replace('#!/','')"
    v-bind:data-item-description= "article.description">
        <span class="glyphicon glyphicon-shopping-cart"></span> Acheter
</button>

</div>

</div>
</template>



<script>
//console.log((window.location.pathname).replace('/detailsPackage/',''))
//console.log("test")
import callApi from '@/components/config.js'
//console.log(callApi.callApi + '/api/ApiSnip/' + (window.location.pathname).replace('/detailsPackage/',''))
console.log("1")
export default {
  name: 'details',
  data () {
    return {
      article :{}

    }
  },
  mounted: function() {
  var self = this;
  console.log(this.$route)
  console.log(this.$route.path)
  console.log(this.$route.params["name"])
  console.log(1)
    var productName = this.$route.params["name"];
  console.log(2)
    let xhr = new XMLHttpRequest(),
      method = 'GET',
      url = callApi.callApi + "/api/apiDetailPackage/" + productName;
      console.log(url);
    xhr.open(method, url, true);
    xhr.onreadystatechange = function() {
      if (xhr.readyState === XMLHttpRequest.DONE) {
        console.dir(xhr);
        if (xhr.status === 200) {
          var test = JSON.parse(xhr.responseText)["value"];
          self.article = test;
          console.log(test);
            };
      }
    };
    xhr.send();
  },
};




</script>

<style>
a{
  decoration: none;
  color: #fff;
  text-align: center;
}

a:hover{
  color: #fff;
}
.longDesc{
  margin-left: 20px;
}
#detail{
  margin-top: 25px;
}
.bold{
  font-weight: bold;
}
#image
{
display:inline-block;
float: left;
}
#infoArticle{
  margin-top:35px;
  display:inline-block;
  float: left;
}
#HistEtDesc{
  
clear:both;
margin-left:50px;
}
</style>
