<template>
  <div id="History">
    <h2>{{message.name}}</h2>

  <div v-if="message.picture1Path != null || message.picture2Path != null || message.picture3Path != null">
      <b-carousel v-if="isLoaded" id="carousel1"
                  style="text-shadow: 1px 1px 2px #333;"
                  controls
                  indicators
                  background="#ababab"
                  :interval="4000"
                  v-model="slide"
                  @sliding-start="onSlideStart"
                  @sliding-end="onSlideEnd"
      >

        <b-carousel-slide v-if="message.picture1Path" v-bind:img-src="message.picture1Path">
        </b-carousel-slide>

        <b-carousel-slide  v-if='message.picture2Path' v-bind:img-src="message.picture2Path">
        </b-carousel-slide>

        <b-carousel-slide v-if="message.picture3Path" v-bind:img-src="message.picture3Path">
        </b-carousel-slide>

      </b-carousel>

    </div>

    <div v-html="message.text" class="txt"></div>

    <div v-if="message.eventHistories">
      <h2>Évènements</h2>
    </div>

     <b-container class="events">
      <b-row class="justify-content-md-center text-center">
        <div v-for="event in message.eventHistories" :key="event.id">               
          <b-col>
            <h3>{{event.date}}</h3>
            <h4>{{event.dateTime.toString().slice(0,10)}}</h4>
            <p class="desc" fluid v-html="event.text"></p>
          </b-col>
        </div>
      </b-row>
    </b-container>
</div>
</template>

<script>
import callApi from '@/components/config.js'
  export default {
    name: 'History',
    data () {
      return {
        message:{},
        slide: 0,
        sliding: null
      }
    },
    computed:{
      isLoaded: function(){
          if(this.message.picture1Path != null || this.message.picture2Path != null || this.message.picture3Path != null){
            return true;
        }
        return false;
      }
    },
    watch:{
        '$route': function(){
          this.callApiContent();
        }
    },
    mounted: function() { 

        this.callApiContent();
     
    },
    methods: {
      isload(){
          if(this.page.imagePath1 != null || page.imagePath2 != null || page.imagePath3 != null){
          return true;
        }
        return false;
      },
      onSlideStart(slide) {
          this.sliding = true;
      },
      onSlideEnd(slide) {
          this.sliding = false;
      },
      callApiContent(){

        var pageName = "Default";
        if(this.$route.name != "history")
        {
          pageName = 'Custom'+ this.$route.name;
        }
            console.log(pageName);
        var self = this;
        let xhr = new XMLHttpRequest(),
        method = 'GET',

        url = callApi.callApi + '/api/apiHistory/'+ pageName;

        xhr.open(method, url, true);
        xhr.onreadystatechange = function() {
          if (xhr.readyState === XMLHttpRequest.DONE) {
            console.dir(xhr);
            if (xhr.status === 200) {
                self.message = (JSON.parse(xhr.responseText).value);
                self.message.eventHistories.sort(function(a,b){
          return new Date(b.dateTime) - new Date(a.dateTime);
              })
            }
            else {
              console.log("erreur sur le call de la page history");
            }
          }
        };
        xhr.send();
        }
      }
  }

</script>

<style>
a{
  decoration: none;
  color: #fff;
  text-align: center;
}

a:hover{
  color: #fff;
}
.txt{
  margin:80px;
}

.desc{
  width: 350px;
  margin-bottom: 50px;
}

.events{
  max-width:2000px;

}
</style>
