<template>
  <div id="Home">
    <h2>{{message.name}}</h2>

    <div v-if="message.sliders != null && message.sliders.length > 0">
    <b-carousel v-if="isLoaded" id="carousel1"
                style="text-shadow: 1px 1px 2px #333;"
                controls
                indicators
                background="#ababab"
                :interval="4000"
                v-model="slide"
                @sliding-start="onSlideStart"
                @sliding-end="onSlideEnd"
    >

      <b-carousel-slide v-for="slide in message.sliders" :key="slide.id" v-bind:img-src="slide.imagePath">
        <a v-bind:href="slide.link" class="linkSlider"><p>{{slide.text}}</p></a>
      </b-carousel-slide>

    </b-carousel>

  </div>
  
    <div v-html="message.persoContent" class="txt"></div>
    <img v-bind:src="message.persoImagePath" width="100%" />
    
   
    <h2>{{message.aboutTitle}}</h2>
    <div v-html="message.aboutText" class="txt"></div>
    <img v-bind:src="message.aboutImagePath" width="100%"/>

    <h2 v-if="message.products != null && message.products.length > 0">Produits vedettes</h2>

<b-container class="produits">
    <b-row class="justify-content-md-center text-center">
      <div v-for="product in message.products" :key="product.id">
        <span v-if="product.isActive">
              <a v-bind:href="'detailsProduit/' + product.name">   
                <b-col class="linkBlack">
                  <b-img v-bind:src="product.imagePath" fluid width="350px" heigth="350px" />
        
                    <h3>{{product.name}}</h3>
                    <p v-if="!product.isEnPromotion">
                        à partir de {{product.price}}$
                    </p>
                    <p v-if="product.isEnPromotion">
                      à partir de {{product.promotionPrice}}$
                    </p>
                </b-col>
              </a>
        </span>
      </div>
    </b-row>
    </b-container>
    </div>
</template>

<script>
import callApi from '@/components/config.js'
  export default {
    name: 'Home',
    data () {
      return {
          message:{},
          slide: 0,
          sliding: null,

      }
    },
    watch:{
        '$route': function(){
          this.callApiContent();
        }
    },
      mounted: function() { 

        this.callApiContent();
     
    },
    computed:{
      isLoaded: function(){
                  if(this.message.sliders != null){
          return true;
        }
        return false;
      }
    },
     methods: {
      isload(){
                  if(this.message.sliders != null){
          return true;
        }
        return false;
      },
      onSlideStart(slide) {
          this.sliding = true;
      },
      onSlideEnd(slide) {
          this.sliding = false;
      },
      callApiContent(){

        var pageName = "Default";
        if(this.$route.name != "Home")
        {
          pageName = 'Custom'+ this.$route.name;
        }
    
        var self = this;
        let xhr = new XMLHttpRequest(),
        method = 'GET',
        url = callApi.callApi + '/api/apiHomePage/'+ pageName;

        xhr.open(method, url, true);
        xhr.onreadystatechange = function() {
          if (xhr.readyState === XMLHttpRequest.DONE) {
            console.dir(xhr);
            if (xhr.status === 200) {
                self.message = (JSON.parse(xhr.responseText).value);
            }
            else {
              alert('Hey there. I just poked the api and got an error. You might want to run "dotnet run" in your "admin/web" folder 🙂')
            }
          }
        };
        xhr.send();
        }
    }
  }

</script>

<style>
.txt{
  margin: 80px;
}
a{
  decoration: none;
  color: #fff;
  text-align: center;
}

a:hover{
  color: #fff;
}
.linkBlack a:hover{
  color: #000;
}
.linkBlack a{
  color: #000;
}


.produits{
  max-width:2000px;

}

.produits a{
  color: #000;
}


</style>
