
<template>
  <div>
  <div class="rechercheAvancee col-sm-12" >
    <h3>Recherche avancée</h3>
      <b-form id="criteres" action="RechercheAvancee">
        <div v-for="item in criteres">
          <h4>{{item.nom}}</h4>
          <div v-for="choix in item.critere">
            <b-form-checkbox v-bind:id="choix"
                v-bind:name="item.nom"
                v-bind:value="choix">
                {{choix}}
            </b-form-checkbox>
          </div>
        </div>
        <label for="texte">Mot-clé:</label>
        <b-input class="mb-2 mr-sm-2 mb-sm-0" id="texte" name="texte" />

        <label for="prixMin">Prix Minimum:</label>
        <b-input class="mb-2 mr-sm-2 mb-sm-0" type="number" id="prixMin" name="prixMin" />

        <label for="prixMax">Prix Maximum: </label>
        <b-input class="mb-2 mr-sm-2 mb-sm-0" type="number" id="prixMax" name="prixMax" />

        <b-button variant="primary" type="submit" id="createJson">Rechercher</b-button>
      </b-form>
      <div v-if="page ==null"><p id="rienTrouve" ><font size="6">Aucun résultat pour votre recherche</font></p></div>
      <div id="aboutus" style="margin: 5px 10px;" v-else></div>
    </div>
    <h2>Produits</h2>

    <b-card-group deck >
      <div v-for="item in page">
        <b-card v-bind:title="item.name"
          v-bind:img-src="item.imagePath"
          img-alt="Image"
          img-top
          tag="product"
          style="max-width: 20rem;"
          class="mb-2">
          <h4>
            <span v-if="item.productSizeId != undefined && item.isEnPromotion" style="text-decoration: line-through;">{{item.price}}$</span>
            <span v-if="!item.isEnPromotion || item.productSizeId == undefined">{{item.price}}$</span>
            <span v-if="item.isEnPromotion && item.productSizeId != undefined">{{item.promotionPrice}}$</span> 
            <span v-if="item.isEnPromotion"> 
               <i class="fa fa-star" aria-hidden="true"></i> 
            </span>
          </h4>
          <span v-if="item.productSizeId != undefined" >
            <b-button id="getProduct" v-on:click="getDetailProduct(item)" v-b-modal.product variant="primary">Détails</b-button>
          </span>
          <span v-else>
            <b-button id="getPackage" v-on:click="getDetailPackage(item)" v-b-modal.package variant="primary">Détails</b-button>
          </span>
          <b-button variant="danger"  class="snipcart-add-item"
            v-bind:data-item-id="item.id + (item.productSizeId != undefined ? 'product':'package')"
            v-bind:data-item-name="item.name"
            v-bind:data-item-price="item.productSizeId != undefined && item.isEnPromotion ? item.promotionPrice : item.price"
            v-bind:data-item-weight="20"
            v-bind:data-item-url="$ngrok +'/api/ApiSnip/' + item.name.replace('#!/','')"
            v-bind:data-item-description= "item.description">Ajouter au panier</b-button>
        </b-card>
        
      </div>
    </b-card-group>


  
    <b-modal id="product" v-bind:title="article.name" v-model="modalActive" ok-only >
             
    <b-img id ="image" v-bind:src='article.imagePath' height="200px" width="200px"  />
            <p class="my-4">

             <div id="infoArticle">
      <span class="bold">Categorie :</span> 
      {{article.productCategory}}
    </p>

    <p class="my-4">
      <span class="bold">Grandeur :</span> 
      {{article.productSize}}
    </p>

    <p class="my-4">
      <span class="bold">Shape :</span>
      {{article.productShape}}
    </p>

    <p class="my-4">
      <span class="bold">Prix :</span>
      {{article.price}}$
    </p>
    </div>
    <div id="HistEtDesc">
    <p class="my-4">
      <span class="bold">Description:</span></br>
      <span class="longDesc">{{article.description}}</span>
    </p>

    <p class="my-4">
      <span class="bold">Histoire:</span></br>
      <span class="longDesc">{{article.history}}</span>
    </p>
    <p v-if="article.isKicktail">Ce produit possède un kicktail</p>

    <p>Ce produit est <span v-if="article.isNonDisponible">non-disponible :(</span> <span v-else> disponible</span></p>

    </div>

    </b-modal>

    <b-modal id="package" v-bind:title="pkg.name" v-model="modalActivePkg" ok-only >
             
    <b-img id ="image" v-bind:src='pkg.imagePath' height="200px" width="200px"  />
  

    <div id="infoArticlePkg">
     
    <p class="my-4">
      <span class="bold">Prix :</span>
      {{pkg.price}}$
    </p>
 
    
   </div>
    <div id="HistEtDesc">
<p class="my-4">
      <span class="bold">Produits inclus:</span></br>
        <span class="lstprod" v-for="prod in pkg.lstLienProduitPackage">
           x{{prod.quantity}} {{prod.product.name}} 
        </br>
        </span>

    </p>
    <p>Ce produit est <span v-if="pkg.isNonDisponible">non-disponible :(</span> <span v-else> disponible</span></p>

    </div>

    </b-modal>

   
    <div id="navigation">

    <ul>
        <span v-for="i in nbPage">
            <a v-bind:href="lien + i"> {{i}} </a>
        </span>
      </ul>
      </div>
    </div>

</div>

</template>


<script>
import Vue from 'vue'
import callApi from '@/components/config.js'
export default {
  name: 'About',
  data () {
    return {
      page :{},
      nbPage:{},
      criteres:{},
      lien:'',
      article :{
        id: "",
        name:"",
        productCategory: "",
        productSize:"",
        productShape:"",
        price: 0,
        description: "",
        history: "",
        isKicktail: false,
        isNonDisponible: false,
        imagePath:  ""
      },
      pkg :{
        id: "",
        name:"",
        price: 0,
        lstLienProduitPackage:{},
        isNonDisponible: false,
        imagePath:  ""
      },
      modalActive: false,
      modalActivePkg: false
    }
  },
  watch:{
    '$route': function(){
      this.callApiContent();
    }
  },
  mounted: function() {
      this.callApiContent();
  },
  methods:{
    callApiContent: function(){
        var self = this;
  var p ='';
  var pageActuelle = 1;

  if((this.$route.path.slice(-1)) != "t")
  {
    p= "/" + this.$route.path.slice(-1);
  }
  console.log(this.$route.query)
  if(this.$route.query.recherche != "")
  {
    p = "/" + this.$route.query.recherche
  }
  if(this.$route.query.page != "")
  {
  this.pageActuelle = this.$route.query.page
  }

  var lien = "/listeProduit?recherche=" + this.$route.query.recherche +"&page=";
  self.lien = lien;

    let xhr = new XMLHttpRequest(),
      method = 'GET',
      url = callApi.callApi + "/api/apiProduct" + p + "/" + this.pageActuelle;
    xhr.open(method, url, true);
    xhr.onreadystatechange = function() {
      if (xhr.readyState === XMLHttpRequest.DONE) {
 
        if (xhr.status === 200) {
          var test = JSON.parse(xhr.responseText)["value"];
          self.page = test;
            }else{self.page =null};
      }
    };
    xhr.send();


        let xhr2 = new XMLHttpRequest(),
        method2 = 'GET',
        url2 = callApi.callApi + "/api/apiProduct2";

        xhr2.open(method2, url2, true);
        xhr2.onreadystatechange = function() {
          if (xhr2.readyState === XMLHttpRequest.DONE) {
            if (xhr2.status === 200) {
                   self.nbPage = JSON.parse(xhr2.responseText).value;
	
                };
          }
        };
        xhr2.send();

        let xhr3 = new XMLHttpRequest(),
        method3 = 'GET',
        url3 = callApi.callApi + "/api/ApiProductRechercheAvancee";

        xhr3.open(method3, url3, true);
        xhr3.onreadystatechange = function() {
          if (xhr3.readyState === XMLHttpRequest.DONE) {
            if (xhr3.status === 200) {
                   self.criteres = JSON.parse(xhr3.responseText).value;
                };
          }
        };
        xhr3.send();

    },
  getDetailPackage: function(item){
    console.log(item)
    this.pkg.id = item.id
    this.pkg.name = item.name
    this.pkg.price= item.price 
    this.pkg.isNonDisponible = item.isNonDisponible
    this.pkg.imagePath = item.imagePath
    this.pkg.lstLienProduitPackage = item.lstLienProduitPackage
    this.pkg.description= item.description 
    this.modalActivePkg = true
   
  },
  getDetailProduct: function(item){
    this.article.id = item.id
    this.article.name = item.name
    if(item.isEnPromotion){
    this.article.price= item.promotionPrice
    }else{
      this.article.price= item.price
    }
    this.article.productCategory = item.productCategory.name
    this.article.productSize = item.productSize.name
    this.article.productShape = item.productShape.name
    this.article.description = item.description
    this.article.history = item.history
    this.article.isKicktail = item.isKicktail
    this.article.isNonDisponible = item.isNonDisponible
    this.article.imagePath = item.imagePath
     this.modalActive = true

  }
  
  },
};




</script>

<style>
a{
  decoration: none;
  color: #fff;
  text-align: center;
}

a:hover{
  color: #fff;
}
#infoArticle{
  margin-top:4px;
  display:inline-block;
  float: left;
  margin-left: 20px;
}

#infoArticlePkg {
   display:inline-block;
  float: left;
   margin-top:55px;
   margin-left: 20px;
}
#HistEtDesc{
  
clear:both;
margin-left:40px;
margin-bottom: 50px;
padding-top: 5px;
margin-right: 40px;
}
.bold{
  font-weight: bold;
}
.longDesc{
  margin-left: 20px;
}

.lstprod a{
  color: #000;
}
.lstprod a:hover{
  color: #000;
}
.rechercheAvancee h3{
  font-size: 1.2em;
}
.rechercheAvancee h4{
  font-size: 1.05em;
  margin-top: 7px;
}

.rechercheAvancee button{
  margin-top: 15px;
}
.img-with-text {
    text-align: justify;
    width: [width of img];
    float:left;
}

.img-with-text img {
    display: block;
    margin: 0 auto;
}
#navigation{
clear:both;
float:right;
margin-bottom:50px;
}
#navigation ul
{
margin: 0;
padding: 0;
list-style-type: none;
}

#navigation ul li { display: inline; }
#navigation ul li a { text-decoration: none; }
#criteres { float:left;}
#rienTrouve {text-align: center;}

#image
{
display:inline-block;
float: left;
margin-left: 40px;

}

.center{
  margin:auto;
}

</style>
