﻿@model SpekSkates.Admin.Web.Modules.ProductShape.ViewModels.ViewModel

@{
    ViewData["Title"] = "Create";
}

<h2>Ajouter</h2>

<h4>Forme de produit</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <p>@Model.ErrorMessage</p>
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="ProductShape.Name" class="control-label"></label>
                <input asp-for="ProductShape.Name" class="form-control" />
                <span asp-validation-for="ProductShape.Name" class="text-danger"></span>
                
            </div>
            <div class="form-group">
                <input type="submit" value="Ajouter" class="btn btn-default" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Retour à la liste</a>
</div>

