﻿@model SpekSkates.Admin.Web.Modules.ProductShape.ProductShape

@{
    ViewData["Title"] = "Delete";
}

<h2>Supprimer</h2>

<h3>Êtes-vous certain de vouloir supprimer cette forme?</h3>
<div>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Name)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Name)
        </dd>
    </dl>
    
    <form asp-action="Delete">
        <input type="hidden" asp-for="Id" />
        <input type="submit" value="Supprimer" class="btn btn-default" /> |
        <a asp-action="Index">Retour à la liste</a>
    </form>
</div>
