﻿@model SpekSkates.Admin.Web.Modules.ProductShape.ViewModels.ViewModel

@{
    ViewData["Title"] = "View";
}

<h2>Modifier</h2>

<h4>Forme du produit</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <p>@Model.ErrorMessage</p>
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="ProductShape.Name" class="control-label"></label>
                <input asp-for="ProductShape.Name" class="form-control" />
                <span asp-validation-for="ProductShape.Name" class="text-danger"></span>
                
                <div class="col-md-12">
                    Associer aux bonnes catégories de produit:
                    <select asp-for="ProductCategoryIds" asp-items="Model.ProductCategorySelectList" class="select2 form-control">
                    </select>
                </div>
                
            </div>
            <input type="hidden" asp-for="ProductShape.Id" />
            <div class="form-group">
                <input type="submit" value="Enregistrer" class="btn btn-default" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Retour à la liste</a>
</div>

