﻿@model IEnumerable<SpekSkates.Admin.Web.Modules.ProductShape.ProductShape>
    @{
    ViewData["Title"] = "Index";
    }
    <h2>Index</h2>
<p>
    <a asp-action="Create">Ajouter une forme de produit</a>
</p>
    <table class="table">
        <thead>
            <tr>
                <th>
                    @Html.DisplayNameFor(model => model.Name)
                </th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
        {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.Name)
                    </td>
                    <td>
                        <a asp-action="Edit" asp-route-id="@item.Id">Modifier</a> |
                        <a asp-action="Delete" asp-route-id="@item.Id">Supprimer</a>
                    </td>
                </tr>
        }
        </tbody>
    </table>
